/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AirbnbAPIService AirbnbAPI service
type AirbnbAPIService service

type ApiAirbnbAirbnbScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
}

func (r ApiAirbnbAirbnbScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbAirbnbScraperHealthCheckExecute(r)
}

/*
AirbnbAirbnbScraperHealthCheck Airbnb scraper health check

Check health of the Airbnb scraper service (accepts HEAD).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAirbnbAirbnbScraperHealthCheckRequest
*/
func (a *AirbnbAPIService) AirbnbAirbnbScraperHealthCheck(ctx context.Context) ApiAirbnbAirbnbScraperHealthCheckRequest {
	return ApiAirbnbAirbnbScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbAirbnbScraperHealthCheckExecute(r ApiAirbnbAirbnbScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbAirbnbScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAirbnbAirbnbScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
}

func (r ApiAirbnbAirbnbScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbAirbnbScraperHealthCheckHeadExecute(r)
}

/*
AirbnbAirbnbScraperHealthCheckHead Airbnb scraper health check

Check health of the Airbnb scraper service (accepts HEAD).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAirbnbAirbnbScraperHealthCheckHeadRequest
*/
func (a *AirbnbAPIService) AirbnbAirbnbScraperHealthCheckHead(ctx context.Context) ApiAirbnbAirbnbScraperHealthCheckHeadRequest {
	return ApiAirbnbAirbnbScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbAirbnbScraperHealthCheckHeadExecute(r ApiAirbnbAirbnbScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbAirbnbScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAirbnbGetAvailabilityCalendarRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
	roomId string
	month *int32
	year *int32
	months *int32
	currency *string
	locale *string
}

// Start month (1-12)
func (r ApiAirbnbGetAvailabilityCalendarRequest) Month(month int32) ApiAirbnbGetAvailabilityCalendarRequest {
	r.month = &month
	return r
}

// Start year
func (r ApiAirbnbGetAvailabilityCalendarRequest) Year(year int32) ApiAirbnbGetAvailabilityCalendarRequest {
	r.year = &year
	return r
}

// Number of months (max 12)
func (r ApiAirbnbGetAvailabilityCalendarRequest) Months(months int32) ApiAirbnbGetAvailabilityCalendarRequest {
	r.months = &months
	return r
}

func (r ApiAirbnbGetAvailabilityCalendarRequest) Currency(currency string) ApiAirbnbGetAvailabilityCalendarRequest {
	r.currency = &currency
	return r
}

func (r ApiAirbnbGetAvailabilityCalendarRequest) Locale(locale string) ApiAirbnbGetAvailabilityCalendarRequest {
	r.locale = &locale
	return r
}

func (r ApiAirbnbGetAvailabilityCalendarRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbGetAvailabilityCalendarExecute(r)
}

/*
AirbnbGetAvailabilityCalendar Get availability calendar

Day-by-day availability for up to 12 months: bookable, check-in/out
windows and min/max nights per date.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roomId
 @return ApiAirbnbGetAvailabilityCalendarRequest
*/
func (a *AirbnbAPIService) AirbnbGetAvailabilityCalendar(ctx context.Context, roomId string) ApiAirbnbGetAvailabilityCalendarRequest {
	return ApiAirbnbGetAvailabilityCalendarRequest{
		ApiService: a,
		ctx: ctx,
		roomId: roomId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbGetAvailabilityCalendarExecute(r ApiAirbnbGetAvailabilityCalendarRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbGetAvailabilityCalendar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/listings/{room_id}/calendar"
	localVarPath = strings.Replace(localVarPath, "{"+"room_id"+"}", url.PathEscape(parameterValueToString(r.roomId, "roomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	} else {
		var defaultValue int32 = 1
		r.month = &defaultValue
	}
	if r.year != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year", r.year, "form", "")
	} else {
		var defaultValue int32 = 2026
		r.year = &defaultValue
	}
	if r.months != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "months", r.months, "form", "")
	} else {
		var defaultValue int32 = 12
		r.months = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAirbnbGetExperienceDetailRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
	experienceId string
	adults *int32
	children *int32
	infants *int32
	currency *string
	locale *string
}

func (r ApiAirbnbGetExperienceDetailRequest) Adults(adults int32) ApiAirbnbGetExperienceDetailRequest {
	r.adults = &adults
	return r
}

func (r ApiAirbnbGetExperienceDetailRequest) Children(children int32) ApiAirbnbGetExperienceDetailRequest {
	r.children = &children
	return r
}

func (r ApiAirbnbGetExperienceDetailRequest) Infants(infants int32) ApiAirbnbGetExperienceDetailRequest {
	r.infants = &infants
	return r
}

func (r ApiAirbnbGetExperienceDetailRequest) Currency(currency string) ApiAirbnbGetExperienceDetailRequest {
	r.currency = &currency
	return r
}

func (r ApiAirbnbGetExperienceDetailRequest) Locale(locale string) ApiAirbnbGetExperienceDetailRequest {
	r.locale = &locale
	return r
}

func (r ApiAirbnbGetExperienceDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbGetExperienceDetailExecute(r)
}

/*
AirbnbGetExperienceDetail Get experience detail

Full detail for one experience: description, rating, host, location and
photos.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param experienceId
 @return ApiAirbnbGetExperienceDetailRequest
*/
func (a *AirbnbAPIService) AirbnbGetExperienceDetail(ctx context.Context, experienceId string) ApiAirbnbGetExperienceDetailRequest {
	return ApiAirbnbGetExperienceDetailRequest{
		ApiService: a,
		ctx: ctx,
		experienceId: experienceId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbGetExperienceDetailExecute(r ApiAirbnbGetExperienceDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbGetExperienceDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/experiences/{experience_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"experience_id"+"}", url.PathEscape(parameterValueToString(r.experienceId, "experienceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adults", r.adults, "form", "")
	} else {
		var defaultValue int32 = 1
		r.adults = &defaultValue
	}
	if r.children != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "children", r.children, "form", "")
	} else {
		var defaultValue int32 = 0
		r.children = &defaultValue
	}
	if r.infants != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "infants", r.infants, "form", "")
	} else {
		var defaultValue int32 = 0
		r.infants = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAirbnbGetListingDetailRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
	roomId string
	adults *int32
	currency *string
	locale *string
}

func (r ApiAirbnbGetListingDetailRequest) Adults(adults int32) ApiAirbnbGetListingDetailRequest {
	r.adults = &adults
	return r
}

func (r ApiAirbnbGetListingDetailRequest) Currency(currency string) ApiAirbnbGetListingDetailRequest {
	r.currency = &currency
	return r
}

func (r ApiAirbnbGetListingDetailRequest) Locale(locale string) ApiAirbnbGetListingDetailRequest {
	r.locale = &locale
	return r
}

func (r ApiAirbnbGetListingDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbGetListingDetailExecute(r)
}

/*
AirbnbGetListingDetail Get listing detail

Full detail for one listing: amenities, house rules, host, ratings,
coordinates and photos.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roomId
 @return ApiAirbnbGetListingDetailRequest
*/
func (a *AirbnbAPIService) AirbnbGetListingDetail(ctx context.Context, roomId string) ApiAirbnbGetListingDetailRequest {
	return ApiAirbnbGetListingDetailRequest{
		ApiService: a,
		ctx: ctx,
		roomId: roomId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbGetListingDetailExecute(r ApiAirbnbGetListingDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbGetListingDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/listings/{room_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"room_id"+"}", url.PathEscape(parameterValueToString(r.roomId, "roomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adults", r.adults, "form", "")
	} else {
		var defaultValue int32 = 1
		r.adults = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAirbnbGetListingReviewsRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
	roomId string
	limit *int32
	offset *int32
	sort *string
	currency *string
	locale *string
}

func (r ApiAirbnbGetListingReviewsRequest) Limit(limit int32) ApiAirbnbGetListingReviewsRequest {
	r.limit = &limit
	return r
}

func (r ApiAirbnbGetListingReviewsRequest) Offset(offset int32) ApiAirbnbGetListingReviewsRequest {
	r.offset = &offset
	return r
}

// MOST_RECENT | RATING_DESC | RATING_ASC
func (r ApiAirbnbGetListingReviewsRequest) Sort(sort string) ApiAirbnbGetListingReviewsRequest {
	r.sort = &sort
	return r
}

func (r ApiAirbnbGetListingReviewsRequest) Currency(currency string) ApiAirbnbGetListingReviewsRequest {
	r.currency = &currency
	return r
}

func (r ApiAirbnbGetListingReviewsRequest) Locale(locale string) ApiAirbnbGetListingReviewsRequest {
	r.locale = &locale
	return r
}

func (r ApiAirbnbGetListingReviewsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbGetListingReviewsExecute(r)
}

/*
AirbnbGetListingReviews Get listing reviews

Paginated guest reviews with reviewer, rating, date, text and host
response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roomId
 @return ApiAirbnbGetListingReviewsRequest
*/
func (a *AirbnbAPIService) AirbnbGetListingReviews(ctx context.Context, roomId string) ApiAirbnbGetListingReviewsRequest {
	return ApiAirbnbGetListingReviewsRequest{
		ApiService: a,
		ctx: ctx,
		roomId: roomId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbGetListingReviewsExecute(r ApiAirbnbGetListingReviewsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbGetListingReviews")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/listings/{room_id}/reviews"
	localVarPath = strings.Replace(localVarPath, "{"+"room_id"+"}", url.PathEscape(parameterValueToString(r.roomId, "roomId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 24
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "MOST_RECENT"
		r.sort = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAirbnbSearchExperiencesRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
	location *string
	cursor *string
	currency *string
	locale *string
}

// Free-text place, e.g. &#39;Rome, Italy&#39;
func (r ApiAirbnbSearchExperiencesRequest) Location(location string) ApiAirbnbSearchExperiencesRequest {
	r.location = &location
	return r
}

// next_page_cursor from a prior response
func (r ApiAirbnbSearchExperiencesRequest) Cursor(cursor string) ApiAirbnbSearchExperiencesRequest {
	r.cursor = &cursor
	return r
}

func (r ApiAirbnbSearchExperiencesRequest) Currency(currency string) ApiAirbnbSearchExperiencesRequest {
	r.currency = &currency
	return r
}

func (r ApiAirbnbSearchExperiencesRequest) Locale(locale string) ApiAirbnbSearchExperiencesRequest {
	r.locale = &locale
	return r
}

func (r ApiAirbnbSearchExperiencesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbSearchExperiencesExecute(r)
}

/*
AirbnbSearchExperiences Search experiences

Search Airbnb Experiences by location.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAirbnbSearchExperiencesRequest
*/
func (a *AirbnbAPIService) AirbnbSearchExperiences(ctx context.Context) ApiAirbnbSearchExperiencesRequest {
	return ApiAirbnbSearchExperiencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbSearchExperiencesExecute(r ApiAirbnbSearchExperiencesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbSearchExperiences")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/experiences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.location == nil {
		return localVarReturnValue, nil, reportError("location is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAirbnbSearchStaysRequest struct {
	ctx context.Context
	ApiService *AirbnbAPIService
	location *string
	neLat *float32
	neLng *float32
	swLat *float32
	swLng *float32
	checkIn *string
	checkOut *string
	adults *int32
	children *int32
	infants *int32
	pets *int32
	priceMin *int32
	priceMax *int32
	minBedrooms *int32
	minBeds *int32
	minBathrooms *int32
	roomType *string
	cursor *string
	limit *int32
	currency *string
	locale *string
}

// Free-text place, e.g. &#39;Paris, France&#39;
func (r ApiAirbnbSearchStaysRequest) Location(location string) ApiAirbnbSearchStaysRequest {
	r.location = &location
	return r
}

// Map bounding-box NE latitude
func (r ApiAirbnbSearchStaysRequest) NeLat(neLat float32) ApiAirbnbSearchStaysRequest {
	r.neLat = &neLat
	return r
}

// Map bounding-box NE longitude
func (r ApiAirbnbSearchStaysRequest) NeLng(neLng float32) ApiAirbnbSearchStaysRequest {
	r.neLng = &neLng
	return r
}

// Map bounding-box SW latitude
func (r ApiAirbnbSearchStaysRequest) SwLat(swLat float32) ApiAirbnbSearchStaysRequest {
	r.swLat = &swLat
	return r
}

// Map bounding-box SW longitude
func (r ApiAirbnbSearchStaysRequest) SwLng(swLng float32) ApiAirbnbSearchStaysRequest {
	r.swLng = &swLng
	return r
}

// Check-in date YYYY-MM-DD
func (r ApiAirbnbSearchStaysRequest) CheckIn(checkIn string) ApiAirbnbSearchStaysRequest {
	r.checkIn = &checkIn
	return r
}

// Check-out date YYYY-MM-DD
func (r ApiAirbnbSearchStaysRequest) CheckOut(checkOut string) ApiAirbnbSearchStaysRequest {
	r.checkOut = &checkOut
	return r
}

func (r ApiAirbnbSearchStaysRequest) Adults(adults int32) ApiAirbnbSearchStaysRequest {
	r.adults = &adults
	return r
}

func (r ApiAirbnbSearchStaysRequest) Children(children int32) ApiAirbnbSearchStaysRequest {
	r.children = &children
	return r
}

func (r ApiAirbnbSearchStaysRequest) Infants(infants int32) ApiAirbnbSearchStaysRequest {
	r.infants = &infants
	return r
}

func (r ApiAirbnbSearchStaysRequest) Pets(pets int32) ApiAirbnbSearchStaysRequest {
	r.pets = &pets
	return r
}

func (r ApiAirbnbSearchStaysRequest) PriceMin(priceMin int32) ApiAirbnbSearchStaysRequest {
	r.priceMin = &priceMin
	return r
}

func (r ApiAirbnbSearchStaysRequest) PriceMax(priceMax int32) ApiAirbnbSearchStaysRequest {
	r.priceMax = &priceMax
	return r
}

func (r ApiAirbnbSearchStaysRequest) MinBedrooms(minBedrooms int32) ApiAirbnbSearchStaysRequest {
	r.minBedrooms = &minBedrooms
	return r
}

func (r ApiAirbnbSearchStaysRequest) MinBeds(minBeds int32) ApiAirbnbSearchStaysRequest {
	r.minBeds = &minBeds
	return r
}

func (r ApiAirbnbSearchStaysRequest) MinBathrooms(minBathrooms int32) ApiAirbnbSearchStaysRequest {
	r.minBathrooms = &minBathrooms
	return r
}

// e.g. &#39;Entire home/apt&#39;, &#39;Private room&#39;
func (r ApiAirbnbSearchStaysRequest) RoomType(roomType string) ApiAirbnbSearchStaysRequest {
	r.roomType = &roomType
	return r
}

// next_page_cursor from a prior response
func (r ApiAirbnbSearchStaysRequest) Cursor(cursor string) ApiAirbnbSearchStaysRequest {
	r.cursor = &cursor
	return r
}

func (r ApiAirbnbSearchStaysRequest) Limit(limit int32) ApiAirbnbSearchStaysRequest {
	r.limit = &limit
	return r
}

// ISO currency, e.g. USD, EUR
func (r ApiAirbnbSearchStaysRequest) Currency(currency string) ApiAirbnbSearchStaysRequest {
	r.currency = &currency
	return r
}

// Locale, e.g. en, fr
func (r ApiAirbnbSearchStaysRequest) Locale(locale string) ApiAirbnbSearchStaysRequest {
	r.locale = &locale
	return r
}

func (r ApiAirbnbSearchStaysRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AirbnbSearchStaysExecute(r)
}

/*
AirbnbSearchStays Search stays

Search Airbnb stays by place name and/or map bounding box, with dates,
guests, price and property filters. Paginate with the `cursor`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAirbnbSearchStaysRequest
*/
func (a *AirbnbAPIService) AirbnbSearchStays(ctx context.Context) ApiAirbnbSearchStaysRequest {
	return ApiAirbnbSearchStaysRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AirbnbAPIService) AirbnbSearchStaysExecute(r ApiAirbnbSearchStaysRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AirbnbAPIService.AirbnbSearchStays")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/airbnb/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.neLat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ne_lat", r.neLat, "form", "")
	}
	if r.neLng != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ne_lng", r.neLng, "form", "")
	}
	if r.swLat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sw_lat", r.swLat, "form", "")
	}
	if r.swLng != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sw_lng", r.swLng, "form", "")
	}
	if r.checkIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "check_in", r.checkIn, "form", "")
	}
	if r.checkOut != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "check_out", r.checkOut, "form", "")
	}
	if r.adults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adults", r.adults, "form", "")
	} else {
		var defaultValue int32 = 1
		r.adults = &defaultValue
	}
	if r.children != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "children", r.children, "form", "")
	} else {
		var defaultValue int32 = 0
		r.children = &defaultValue
	}
	if r.infants != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "infants", r.infants, "form", "")
	} else {
		var defaultValue int32 = 0
		r.infants = &defaultValue
	}
	if r.pets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pets", r.pets, "form", "")
	} else {
		var defaultValue int32 = 0
		r.pets = &defaultValue
	}
	if r.priceMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_min", r.priceMin, "form", "")
	}
	if r.priceMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_max", r.priceMax, "form", "")
	}
	if r.minBedrooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_bedrooms", r.minBedrooms, "form", "")
	}
	if r.minBeds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_beds", r.minBeds, "form", "")
	}
	if r.minBathrooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_bathrooms", r.minBathrooms, "form", "")
	}
	if r.roomType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "room_type", r.roomType, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 18
		r.limit = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
