/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BookingAPIService BookingAPI service
type BookingAPIService service

type ApiBookingBookingScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *BookingAPIService
}

func (r ApiBookingBookingScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BookingBookingScraperHealthCheckExecute(r)
}

/*
BookingBookingScraperHealthCheck Booking scraper health check

Check health of the Booking scraper service (accepts HEAD).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBookingBookingScraperHealthCheckRequest
*/
func (a *BookingAPIService) BookingBookingScraperHealthCheck(ctx context.Context) ApiBookingBookingScraperHealthCheckRequest {
	return ApiBookingBookingScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BookingAPIService) BookingBookingScraperHealthCheckExecute(r ApiBookingBookingScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BookingAPIService.BookingBookingScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/booking/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBookingBookingScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *BookingAPIService
}

func (r ApiBookingBookingScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BookingBookingScraperHealthCheckHeadExecute(r)
}

/*
BookingBookingScraperHealthCheckHead Booking scraper health check

Check health of the Booking scraper service (accepts HEAD).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBookingBookingScraperHealthCheckHeadRequest
*/
func (a *BookingAPIService) BookingBookingScraperHealthCheckHead(ctx context.Context) ApiBookingBookingScraperHealthCheckHeadRequest {
	return ApiBookingBookingScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BookingAPIService) BookingBookingScraperHealthCheckHeadExecute(r ApiBookingBookingScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BookingAPIService.BookingBookingScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/booking/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBookingGetPropertyDetailRequest struct {
	ctx context.Context
	ApiService *BookingAPIService
	countryCode string
	slug string
	photos *int32
	questions *int32
	language *string
}

// Gallery photos to return
func (r ApiBookingGetPropertyDetailRequest) Photos(photos int32) ApiBookingGetPropertyDetailRequest {
	r.photos = &photos
	return r
}

// Guest Q&amp;A pairs to return
func (r ApiBookingGetPropertyDetailRequest) Questions(questions int32) ApiBookingGetPropertyDetailRequest {
	r.questions = &questions
	return r
}

// Locale, e.g. en-us, fr
func (r ApiBookingGetPropertyDetailRequest) Language(language string) ApiBookingGetPropertyDetailRequest {
	r.language = &language
	return r
}

func (r ApiBookingGetPropertyDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BookingGetPropertyDetailExecute(r)
}

/*
BookingGetPropertyDetail Get property detail

Full detail for one property: description, address and coordinates, star
rating, review score with per-category breakdown, facilities, house rules,
room types with occupancy and beds, photos and guest Q&A.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param countryCode Two-letter country code, e.g. 'it'
 @param slug Booking page name, e.g. 'hotel-artemide'
 @return ApiBookingGetPropertyDetailRequest
*/
func (a *BookingAPIService) BookingGetPropertyDetail(ctx context.Context, countryCode string, slug string) ApiBookingGetPropertyDetailRequest {
	return ApiBookingGetPropertyDetailRequest{
		ApiService: a,
		ctx: ctx,
		countryCode: countryCode,
		slug: slug,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BookingAPIService) BookingGetPropertyDetailExecute(r ApiBookingGetPropertyDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BookingAPIService.BookingGetPropertyDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/booking/properties/{country_code}/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"country_code"+"}", url.PathEscape(parameterValueToString(r.countryCode, "countryCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.countryCode) < 2 {
		return localVarReturnValue, nil, reportError("countryCode must have at least 2 elements")
	}
	if strlen(r.countryCode) > 2 {
		return localVarReturnValue, nil, reportError("countryCode must have less than 2 elements")
	}
	if strlen(r.slug) < 1 {
		return localVarReturnValue, nil, reportError("slug must have at least 1 elements")
	}

	if r.photos != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "photos", r.photos, "form", "")
	} else {
		var defaultValue int32 = 40
		r.photos = &defaultValue
	}
	if r.questions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "questions", r.questions, "form", "")
	} else {
		var defaultValue int32 = 10
		r.questions = &defaultValue
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBookingGetPropertyReviewsRequest struct {
	ctx context.Context
	ApiService *BookingAPIService
	countryCode string
	slug string
	limit *int32
	offset *int32
	sort *string
	reviewLanguage *string
	guestType *string
	language *string
}

func (r ApiBookingGetPropertyReviewsRequest) Limit(limit int32) ApiBookingGetPropertyReviewsRequest {
	r.limit = &limit
	return r
}

func (r ApiBookingGetPropertyReviewsRequest) Offset(offset int32) ApiBookingGetPropertyReviewsRequest {
	r.offset = &offset
	return r
}

// MOST_RELEVANT | NEWEST_FIRST | OLDEST_FIRST | SCORE_DESC | SCORE_ASC
func (r ApiBookingGetPropertyReviewsRequest) Sort(sort string) ApiBookingGetPropertyReviewsRequest {
	r.sort = &sort
	return r
}

// Only reviews written in this language, e.g. &#39;fr&#39;
func (r ApiBookingGetPropertyReviewsRequest) ReviewLanguage(reviewLanguage string) ApiBookingGetPropertyReviewsRequest {
	r.reviewLanguage = &reviewLanguage
	return r
}

// FAMILIES | COUPLES | GROUP_OF_FRIENDS | SOLO_TRAVELLERS | BUSINESS_TRAVELLERS
func (r ApiBookingGetPropertyReviewsRequest) GuestType(guestType string) ApiBookingGetPropertyReviewsRequest {
	r.guestType = &guestType
	return r
}

// Locale for labels, e.g. en-us
func (r ApiBookingGetPropertyReviewsRequest) Language(language string) ApiBookingGetPropertyReviewsRequest {
	r.language = &language
	return r
}

func (r ApiBookingGetPropertyReviewsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BookingGetPropertyReviewsExecute(r)
}

/*
BookingGetPropertyReviews Get property reviews

Paginated guest reviews with score, positive and negative text, stay
dates, room type, guest country and type, photos and the partner's reply.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param countryCode Two-letter country code, e.g. 'it'
 @param slug Booking page name, e.g. 'hotel-artemide'
 @return ApiBookingGetPropertyReviewsRequest
*/
func (a *BookingAPIService) BookingGetPropertyReviews(ctx context.Context, countryCode string, slug string) ApiBookingGetPropertyReviewsRequest {
	return ApiBookingGetPropertyReviewsRequest{
		ApiService: a,
		ctx: ctx,
		countryCode: countryCode,
		slug: slug,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BookingAPIService) BookingGetPropertyReviewsExecute(r ApiBookingGetPropertyReviewsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BookingAPIService.BookingGetPropertyReviews")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/booking/properties/{country_code}/{slug}/reviews"
	localVarPath = strings.Replace(localVarPath, "{"+"country_code"+"}", url.PathEscape(parameterValueToString(r.countryCode, "countryCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.countryCode) < 2 {
		return localVarReturnValue, nil, reportError("countryCode must have at least 2 elements")
	}
	if strlen(r.countryCode) > 2 {
		return localVarReturnValue, nil, reportError("countryCode must have less than 2 elements")
	}
	if strlen(r.slug) < 1 {
		return localVarReturnValue, nil, reportError("slug must have at least 1 elements")
	}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "MOST_RELEVANT"
		r.sort = &defaultValue
	}
	if r.reviewLanguage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "review_language", r.reviewLanguage, "form", "")
	}
	if r.guestType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guest_type", r.guestType, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBookingGetRoomTypesAndLiveRatesRequest struct {
	ctx context.Context
	ApiService *BookingAPIService
	countryCode string
	slug string
	checkin *string
	checkout *string
	adults *int32
	children *string
	rooms *int32
	currency *string
	language *string
}

// Check-in date YYYY-MM-DD
func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Checkin(checkin string) ApiBookingGetRoomTypesAndLiveRatesRequest {
	r.checkin = &checkin
	return r
}

// Check-out date YYYY-MM-DD
func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Checkout(checkout string) ApiBookingGetRoomTypesAndLiveRatesRequest {
	r.checkout = &checkout
	return r
}

func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Adults(adults int32) ApiBookingGetRoomTypesAndLiveRatesRequest {
	r.adults = &adults
	return r
}

// Comma-separated children ages, e.g. &#39;4,9&#39;
func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Children(children string) ApiBookingGetRoomTypesAndLiveRatesRequest {
	r.children = &children
	return r
}

func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Rooms(rooms int32) ApiBookingGetRoomTypesAndLiveRatesRequest {
	r.rooms = &rooms
	return r
}

// ISO currency, e.g. EUR, USD, GBP
func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Currency(currency string) ApiBookingGetRoomTypesAndLiveRatesRequest {
	r.currency = &currency
	return r
}

// Locale, e.g. en-us, fr, de
func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Language(language string) ApiBookingGetRoomTypesAndLiveRatesRequest {
	r.language = &language
	return r
}

func (r ApiBookingGetRoomTypesAndLiveRatesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BookingGetRoomTypesAndLiveRatesExecute(r)
}

/*
BookingGetRoomTypesAndLiveRates Get room types and live rates

Every room type at one property with every rate bookable on it for the
given dates — price, price before discount, price per night, discounts and
badges — plus per-room facilities, bed layouts, occupancy and photos.
/search returns only the cheapest rate per property; this returns the whole
table.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param countryCode Two-letter country code, e.g. 'it'
 @param slug Booking page name, e.g. 'hotel-artemide'
 @return ApiBookingGetRoomTypesAndLiveRatesRequest
*/
func (a *BookingAPIService) BookingGetRoomTypesAndLiveRates(ctx context.Context, countryCode string, slug string) ApiBookingGetRoomTypesAndLiveRatesRequest {
	return ApiBookingGetRoomTypesAndLiveRatesRequest{
		ApiService: a,
		ctx: ctx,
		countryCode: countryCode,
		slug: slug,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BookingAPIService) BookingGetRoomTypesAndLiveRatesExecute(r ApiBookingGetRoomTypesAndLiveRatesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BookingAPIService.BookingGetRoomTypesAndLiveRates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/booking/properties/{country_code}/{slug}/rooms"
	localVarPath = strings.Replace(localVarPath, "{"+"country_code"+"}", url.PathEscape(parameterValueToString(r.countryCode, "countryCode")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.countryCode) < 2 {
		return localVarReturnValue, nil, reportError("countryCode must have at least 2 elements")
	}
	if strlen(r.countryCode) > 2 {
		return localVarReturnValue, nil, reportError("countryCode must have less than 2 elements")
	}
	if strlen(r.slug) < 1 {
		return localVarReturnValue, nil, reportError("slug must have at least 1 elements")
	}
	if r.checkin == nil {
		return localVarReturnValue, nil, reportError("checkin is required and must be specified")
	}
	if r.checkout == nil {
		return localVarReturnValue, nil, reportError("checkout is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "checkin", r.checkin, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "checkout", r.checkout, "form", "")
	if r.adults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adults", r.adults, "form", "")
	} else {
		var defaultValue int32 = 2
		r.adults = &defaultValue
	}
	if r.children != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "children", r.children, "form", "")
	}
	if r.rooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rooms", r.rooms, "form", "")
	} else {
		var defaultValue int32 = 1
		r.rooms = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBookingSearchDestinationsRequest struct {
	ctx context.Context
	ApiService *BookingAPIService
	query *string
	limit *int32
	language *string
}

// Free-text place, e.g. &#39;amsterd&#39;
func (r ApiBookingSearchDestinationsRequest) Query(query string) ApiBookingSearchDestinationsRequest {
	r.query = &query
	return r
}

func (r ApiBookingSearchDestinationsRequest) Limit(limit int32) ApiBookingSearchDestinationsRequest {
	r.limit = &limit
	return r
}

// Locale, e.g. en-us, fr
func (r ApiBookingSearchDestinationsRequest) Language(language string) ApiBookingSearchDestinationsRequest {
	r.language = &language
	return r
}

func (r ApiBookingSearchDestinationsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BookingSearchDestinationsExecute(r)
}

/*
BookingSearchDestinations Search destinations

Resolve a place name to Booking's `dest_id`/`dest_type`, with coordinates
and country — feed the pair back into /search for an exact match.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBookingSearchDestinationsRequest
*/
func (a *BookingAPIService) BookingSearchDestinations(ctx context.Context) ApiBookingSearchDestinationsRequest {
	return ApiBookingSearchDestinationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BookingAPIService) BookingSearchDestinationsExecute(r ApiBookingSearchDestinationsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BookingAPIService.BookingSearchDestinations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/booking/destinations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 8
		r.limit = &defaultValue
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBookingSearchPropertiesRequest struct {
	ctx context.Context
	ApiService *BookingAPIService
	location *string
	destId *int32
	destType *string
	checkin *string
	checkout *string
	adults *int32
	children *string
	rooms *int32
	offset *int32
	limit *int32
	sort *string
	filters *string
	currency *string
	language *string
}

// Free-text destination, e.g. &#39;Rome&#39;
func (r ApiBookingSearchPropertiesRequest) Location(location string) ApiBookingSearchPropertiesRequest {
	r.location = &location
	return r
}

// Exact destination id (ufi) from /destinations
func (r ApiBookingSearchPropertiesRequest) DestId(destId int32) ApiBookingSearchPropertiesRequest {
	r.destId = &destId
	return r
}

// Destination type, e.g. CITY
func (r ApiBookingSearchPropertiesRequest) DestType(destType string) ApiBookingSearchPropertiesRequest {
	r.destType = &destType
	return r
}

// Check-in date YYYY-MM-DD
func (r ApiBookingSearchPropertiesRequest) Checkin(checkin string) ApiBookingSearchPropertiesRequest {
	r.checkin = &checkin
	return r
}

// Check-out date YYYY-MM-DD
func (r ApiBookingSearchPropertiesRequest) Checkout(checkout string) ApiBookingSearchPropertiesRequest {
	r.checkout = &checkout
	return r
}

func (r ApiBookingSearchPropertiesRequest) Adults(adults int32) ApiBookingSearchPropertiesRequest {
	r.adults = &adults
	return r
}

// Comma-separated children ages, e.g. &#39;4,9&#39;
func (r ApiBookingSearchPropertiesRequest) Children(children string) ApiBookingSearchPropertiesRequest {
	r.children = &children
	return r
}

func (r ApiBookingSearchPropertiesRequest) Rooms(rooms int32) ApiBookingSearchPropertiesRequest {
	r.rooms = &rooms
	return r
}

// Result offset for pagination
func (r ApiBookingSearchPropertiesRequest) Offset(offset int32) ApiBookingSearchPropertiesRequest {
	r.offset = &offset
	return r
}

func (r ApiBookingSearchPropertiesRequest) Limit(limit int32) ApiBookingSearchPropertiesRequest {
	r.limit = &limit
	return r
}

// popularity | price | class_descending | class_ascending | distance_from_search | bayesian_review_score | review_score_and_price | upsort_bh
func (r ApiBookingSearchPropertiesRequest) Sort(sort string) ApiBookingSearchPropertiesRequest {
	r.sort = &sort
	return r
}

// Semicolon-separated Booking filter ids, e.g. &#39;class&#x3D;4&#39;
func (r ApiBookingSearchPropertiesRequest) Filters(filters string) ApiBookingSearchPropertiesRequest {
	r.filters = &filters
	return r
}

// ISO currency, e.g. EUR, USD, GBP
func (r ApiBookingSearchPropertiesRequest) Currency(currency string) ApiBookingSearchPropertiesRequest {
	r.currency = &currency
	return r
}

// Locale, e.g. en-us, fr, de, es
func (r ApiBookingSearchPropertiesRequest) Language(language string) ApiBookingSearchPropertiesRequest {
	r.language = &language
	return r
}

func (r ApiBookingSearchPropertiesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.BookingSearchPropertiesExecute(r)
}

/*
BookingSearchProperties Search properties

Search Booking.com properties by destination, with dates, occupancy,
sorting and filters. Returns prices, review scores, coordinates, room
configuration and photos. Paginate with `offset`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBookingSearchPropertiesRequest
*/
func (a *BookingAPIService) BookingSearchProperties(ctx context.Context) ApiBookingSearchPropertiesRequest {
	return ApiBookingSearchPropertiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *BookingAPIService) BookingSearchPropertiesExecute(r ApiBookingSearchPropertiesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BookingAPIService.BookingSearchProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/booking/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.destId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dest_id", r.destId, "form", "")
	}
	if r.destType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dest_type", r.destType, "form", "")
	} else {
		var defaultValue string = "NO_DEST_TYPE"
		r.destType = &defaultValue
	}
	if r.checkin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkin", r.checkin, "form", "")
	}
	if r.checkout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkout", r.checkout, "form", "")
	}
	if r.adults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adults", r.adults, "form", "")
	} else {
		var defaultValue int32 = 2
		r.adults = &defaultValue
	}
	if r.children != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "children", r.children, "form", "")
	}
	if r.rooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rooms", r.rooms, "form", "")
	} else {
		var defaultValue int32 = 1
		r.rooms = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		r.limit = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
