/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RedfinAPIService RedfinAPI service
type RedfinAPIService service

type ApiRedfinGetAgentProfileListingsRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
	url *string
	agentId *string
}

// Full Redfin /realestateagents/ URL
func (r ApiRedfinGetAgentProfileListingsRequest) Url(url string) ApiRedfinGetAgentProfileListingsRequest {
	r.url = &url
	return r
}

// Redfin agent id
func (r ApiRedfinGetAgentProfileListingsRequest) AgentId(agentId string) ApiRedfinGetAgentProfileListingsRequest {
	r.agentId = &agentId
	return r
}

func (r ApiRedfinGetAgentProfileListingsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinGetAgentProfileListingsExecute(r)
}

/*
RedfinGetAgentProfileListings Get agent profile + listings

Get a Redfin real-estate agent's profile and their active listings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRedfinGetAgentProfileListingsRequest
*/
func (a *RedfinAPIService) RedfinGetAgentProfileListings(ctx context.Context) ApiRedfinGetAgentProfileListingsRequest {
	return ApiRedfinGetAgentProfileListingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinGetAgentProfileListingsExecute(r ApiRedfinGetAgentProfileListingsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinGetAgentProfileListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/agent"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.agentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_id", r.agentId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRedfinGetPropertyDetailRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
	propertyId string
}

func (r ApiRedfinGetPropertyDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinGetPropertyDetailExecute(r)
}

/*
RedfinGetPropertyDetail Get property detail

Get a single Redfin property's full detail by its numeric propertyId.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param propertyId
 @return ApiRedfinGetPropertyDetailRequest
*/
func (a *RedfinAPIService) RedfinGetPropertyDetail(ctx context.Context, propertyId string) ApiRedfinGetPropertyDetailRequest {
	return ApiRedfinGetPropertyDetailRequest{
		ApiService: a,
		ctx: ctx,
		propertyId: propertyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinGetPropertyDetailExecute(r ApiRedfinGetPropertyDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinGetPropertyDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/property/{property_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"property_id"+"}", url.PathEscape(parameterValueToString(r.propertyId, "propertyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRedfinGetPropertyDetailByUrlRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
	url *string
}

// Full Redfin property URL (/CA/City/.../home/12345678)
func (r ApiRedfinGetPropertyDetailByUrlRequest) Url(url string) ApiRedfinGetPropertyDetailByUrlRequest {
	r.url = &url
	return r
}

func (r ApiRedfinGetPropertyDetailByUrlRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinGetPropertyDetailByUrlExecute(r)
}

/*
RedfinGetPropertyDetailByUrl Get property detail by URL

Get a single Redfin property's full detail by its home URL.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRedfinGetPropertyDetailByUrlRequest
*/
func (a *RedfinAPIService) RedfinGetPropertyDetailByUrl(ctx context.Context) ApiRedfinGetPropertyDetailByUrlRequest {
	return ApiRedfinGetPropertyDetailByUrlRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinGetPropertyDetailByUrlExecute(r ApiRedfinGetPropertyDetailByUrlRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinGetPropertyDetailByUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/property"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.url == nil {
		return localVarReturnValue, nil, reportError("url is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRedfinListCoverageMarketsRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
}

func (r ApiRedfinListCoverageMarketsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinListCoverageMarketsExecute(r)
}

/*
RedfinListCoverageMarkets List coverage markets

List Redfin coverage regions (US).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRedfinListCoverageMarketsRequest
*/
func (a *RedfinAPIService) RedfinListCoverageMarkets(ctx context.Context) ApiRedfinListCoverageMarketsRequest {
	return ApiRedfinListCoverageMarketsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinListCoverageMarketsExecute(r ApiRedfinListCoverageMarketsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinListCoverageMarkets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/markets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRedfinRedfinScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
}

func (r ApiRedfinRedfinScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinRedfinScraperHealthCheckExecute(r)
}

/*
RedfinRedfinScraperHealthCheck Redfin scraper health check

Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRedfinRedfinScraperHealthCheckRequest
*/
func (a *RedfinAPIService) RedfinRedfinScraperHealthCheck(ctx context.Context) ApiRedfinRedfinScraperHealthCheckRequest {
	return ApiRedfinRedfinScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinRedfinScraperHealthCheckExecute(r ApiRedfinRedfinScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinRedfinScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRedfinRedfinScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
}

func (r ApiRedfinRedfinScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinRedfinScraperHealthCheckHeadExecute(r)
}

/*
RedfinRedfinScraperHealthCheckHead Redfin scraper health check

Check health of the Redfin scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRedfinRedfinScraperHealthCheckHeadRequest
*/
func (a *RedfinAPIService) RedfinRedfinScraperHealthCheckHead(ctx context.Context) ApiRedfinRedfinScraperHealthCheckHeadRequest {
	return ApiRedfinRedfinScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinRedfinScraperHealthCheckHeadExecute(r ApiRedfinRedfinScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinRedfinScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRedfinRegionAddressSuggestionsRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
	query *string
}

// Partial location — city, ZIP, address, neighborhood
func (r ApiRedfinRegionAddressSuggestionsRequest) Query(query string) ApiRedfinRegionAddressSuggestionsRequest {
	r.query = &query
	return r
}

func (r ApiRedfinRegionAddressSuggestionsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinRegionAddressSuggestionsExecute(r)
}

/*
RedfinRegionAddressSuggestions Region/address suggestions

Resolve a search term to Redfin regions/addresses.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRedfinRegionAddressSuggestionsRequest
*/
func (a *RedfinAPIService) RedfinRegionAddressSuggestions(ctx context.Context) ApiRedfinRegionAddressSuggestionsRequest {
	return ApiRedfinRegionAddressSuggestionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinRegionAddressSuggestionsExecute(r ApiRedfinRegionAddressSuggestionsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinRegionAddressSuggestions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/autocomplete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRedfinSearchPropertiesRequest struct {
	ctx context.Context
	ApiService *RedfinAPIService
	location *string
	page *int32
	sort *string
	priceMin *int32
	priceMax *int32
	bedsMin *int32
	bathsMin *float32
	homeType *string
	sqftMin *int32
	sqftMax *int32
	lotMin *int32
	lotMax *int32
	yearBuiltMin *int32
	yearBuiltMax *int32
	maxDaysOnMarket *int32
	north *float32
	south *float32
	east *float32
	west *float32
}

// City/state, ZIP, address or neighborhood
func (r ApiRedfinSearchPropertiesRequest) Location(location string) ApiRedfinSearchPropertiesRequest {
	r.location = &location
	return r
}

func (r ApiRedfinSearchPropertiesRequest) Page(page int32) ApiRedfinSearchPropertiesRequest {
	r.page = &page
	return r
}

// relevant|newest|price_high_to_low|price_low_to_high|square_feet|lot_size|price_per_sqft|beds|baths
func (r ApiRedfinSearchPropertiesRequest) Sort(sort string) ApiRedfinSearchPropertiesRequest {
	r.sort = &sort
	return r
}

func (r ApiRedfinSearchPropertiesRequest) PriceMin(priceMin int32) ApiRedfinSearchPropertiesRequest {
	r.priceMin = &priceMin
	return r
}

func (r ApiRedfinSearchPropertiesRequest) PriceMax(priceMax int32) ApiRedfinSearchPropertiesRequest {
	r.priceMax = &priceMax
	return r
}

func (r ApiRedfinSearchPropertiesRequest) BedsMin(bedsMin int32) ApiRedfinSearchPropertiesRequest {
	r.bedsMin = &bedsMin
	return r
}

func (r ApiRedfinSearchPropertiesRequest) BathsMin(bathsMin float32) ApiRedfinSearchPropertiesRequest {
	r.bathsMin = &bathsMin
	return r
}

// house|condo|townhouse|multi_family|land|mobile|coop|other
func (r ApiRedfinSearchPropertiesRequest) HomeType(homeType string) ApiRedfinSearchPropertiesRequest {
	r.homeType = &homeType
	return r
}

func (r ApiRedfinSearchPropertiesRequest) SqftMin(sqftMin int32) ApiRedfinSearchPropertiesRequest {
	r.sqftMin = &sqftMin
	return r
}

func (r ApiRedfinSearchPropertiesRequest) SqftMax(sqftMax int32) ApiRedfinSearchPropertiesRequest {
	r.sqftMax = &sqftMax
	return r
}

func (r ApiRedfinSearchPropertiesRequest) LotMin(lotMin int32) ApiRedfinSearchPropertiesRequest {
	r.lotMin = &lotMin
	return r
}

func (r ApiRedfinSearchPropertiesRequest) LotMax(lotMax int32) ApiRedfinSearchPropertiesRequest {
	r.lotMax = &lotMax
	return r
}

func (r ApiRedfinSearchPropertiesRequest) YearBuiltMin(yearBuiltMin int32) ApiRedfinSearchPropertiesRequest {
	r.yearBuiltMin = &yearBuiltMin
	return r
}

func (r ApiRedfinSearchPropertiesRequest) YearBuiltMax(yearBuiltMax int32) ApiRedfinSearchPropertiesRequest {
	r.yearBuiltMax = &yearBuiltMax
	return r
}

func (r ApiRedfinSearchPropertiesRequest) MaxDaysOnMarket(maxDaysOnMarket int32) ApiRedfinSearchPropertiesRequest {
	r.maxDaysOnMarket = &maxDaysOnMarket
	return r
}

// Map bounds for tiling past the cap
func (r ApiRedfinSearchPropertiesRequest) North(north float32) ApiRedfinSearchPropertiesRequest {
	r.north = &north
	return r
}

func (r ApiRedfinSearchPropertiesRequest) South(south float32) ApiRedfinSearchPropertiesRequest {
	r.south = &south
	return r
}

func (r ApiRedfinSearchPropertiesRequest) East(east float32) ApiRedfinSearchPropertiesRequest {
	r.east = &east
	return r
}

func (r ApiRedfinSearchPropertiesRequest) West(west float32) ApiRedfinSearchPropertiesRequest {
	r.west = &west
	return r
}

func (r ApiRedfinSearchPropertiesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RedfinSearchPropertiesExecute(r)
}

/*
RedfinSearchProperties Search properties

Search Redfin for for-sale / for-rent / recently-sold properties.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRedfinSearchPropertiesRequest
*/
func (a *RedfinAPIService) RedfinSearchProperties(ctx context.Context) ApiRedfinSearchPropertiesRequest {
	return ApiRedfinSearchPropertiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RedfinAPIService) RedfinSearchPropertiesExecute(r ApiRedfinSearchPropertiesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedfinAPIService.RedfinSearchProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redfin/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.location == nil {
		return localVarReturnValue, nil, reportError("location is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.priceMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_min", r.priceMin, "form", "")
	}
	if r.priceMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_max", r.priceMax, "form", "")
	}
	if r.bedsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beds_min", r.bedsMin, "form", "")
	}
	if r.bathsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "baths_min", r.bathsMin, "form", "")
	}
	if r.homeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "home_type", r.homeType, "form", "")
	}
	if r.sqftMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sqft_min", r.sqftMin, "form", "")
	}
	if r.sqftMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sqft_max", r.sqftMax, "form", "")
	}
	if r.lotMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lot_min", r.lotMin, "form", "")
	}
	if r.lotMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lot_max", r.lotMax, "form", "")
	}
	if r.yearBuiltMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year_built_min", r.yearBuiltMin, "form", "")
	}
	if r.yearBuiltMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year_built_max", r.yearBuiltMax, "form", "")
	}
	if r.maxDaysOnMarket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_days_on_market", r.maxDaysOnMarket, "form", "")
	}
	if r.north != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "north", r.north, "form", "")
	}
	if r.south != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "south", r.south, "form", "")
	}
	if r.east != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "east", r.east, "form", "")
	}
	if r.west != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "west", r.west, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
