/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RealtorAPIService RealtorAPI service
type RealtorAPIService service

type ApiRealtorGetFullPropertyDetailRequest struct {
	ctx context.Context
	ApiService *RealtorAPIService
	propertyId string
	market *string
}

// us (realtor.com) | ca (realtor.ca)
func (r ApiRealtorGetFullPropertyDetailRequest) Market(market string) ApiRealtorGetFullPropertyDetailRequest {
	r.market = &market
	return r
}

func (r ApiRealtorGetFullPropertyDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RealtorGetFullPropertyDetailExecute(r)
}

/*
RealtorGetFullPropertyDetail Get full property detail

Full listing detail: features, tax & price history, schools, photos, agents.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param propertyId
 @return ApiRealtorGetFullPropertyDetailRequest
*/
func (a *RealtorAPIService) RealtorGetFullPropertyDetail(ctx context.Context, propertyId string) ApiRealtorGetFullPropertyDetailRequest {
	return ApiRealtorGetFullPropertyDetailRequest{
		ApiService: a,
		ctx: ctx,
		propertyId: propertyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RealtorAPIService) RealtorGetFullPropertyDetailExecute(r ApiRealtorGetFullPropertyDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtorAPIService.RealtorGetFullPropertyDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/realtor/properties/{property_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"property_id"+"}", url.PathEscape(parameterValueToString(r.propertyId, "propertyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "us"
		r.market = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRealtorListMarketsRequest struct {
	ctx context.Context
	ApiService *RealtorAPIService
}

func (r ApiRealtorListMarketsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RealtorListMarketsExecute(r)
}

/*
RealtorListMarkets List markets

List supported Realtor markets (US = realtor.com, CA = realtor.ca).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRealtorListMarketsRequest
*/
func (a *RealtorAPIService) RealtorListMarkets(ctx context.Context) ApiRealtorListMarketsRequest {
	return ApiRealtorListMarketsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RealtorAPIService) RealtorListMarketsExecute(r ApiRealtorListMarketsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtorAPIService.RealtorListMarkets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/realtor/markets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRealtorLocationAutocompleteRequest struct {
	ctx context.Context
	ApiService *RealtorAPIService
	query *string
	market *string
	limit *int32
}

// Freetext location (city, ZIP/postal, address…)
func (r ApiRealtorLocationAutocompleteRequest) Query(query string) ApiRealtorLocationAutocompleteRequest {
	r.query = &query
	return r
}

// us (realtor.com) | ca (realtor.ca)
func (r ApiRealtorLocationAutocompleteRequest) Market(market string) ApiRealtorLocationAutocompleteRequest {
	r.market = &market
	return r
}

func (r ApiRealtorLocationAutocompleteRequest) Limit(limit int32) ApiRealtorLocationAutocompleteRequest {
	r.limit = &limit
	return r
}

func (r ApiRealtorLocationAutocompleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RealtorLocationAutocompleteExecute(r)
}

/*
RealtorLocationAutocomplete Location autocomplete

Resolve a location query into candidate places to feed /search.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRealtorLocationAutocompleteRequest
*/
func (a *RealtorAPIService) RealtorLocationAutocomplete(ctx context.Context) ApiRealtorLocationAutocompleteRequest {
	return ApiRealtorLocationAutocompleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RealtorAPIService) RealtorLocationAutocompleteExecute(r ApiRealtorLocationAutocompleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtorAPIService.RealtorLocationAutocomplete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/realtor/autocomplete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "us"
		r.market = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRealtorRealtorScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *RealtorAPIService
}

func (r ApiRealtorRealtorScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RealtorRealtorScraperHealthCheckExecute(r)
}

/*
RealtorRealtorScraperHealthCheck Realtor scraper health check

Check health of the realtor scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRealtorRealtorScraperHealthCheckRequest
*/
func (a *RealtorAPIService) RealtorRealtorScraperHealthCheck(ctx context.Context) ApiRealtorRealtorScraperHealthCheckRequest {
	return ApiRealtorRealtorScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RealtorAPIService) RealtorRealtorScraperHealthCheckExecute(r ApiRealtorRealtorScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtorAPIService.RealtorRealtorScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/realtor/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRealtorRealtorScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *RealtorAPIService
}

func (r ApiRealtorRealtorScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RealtorRealtorScraperHealthCheckHeadExecute(r)
}

/*
RealtorRealtorScraperHealthCheckHead Realtor scraper health check

Check health of the realtor scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRealtorRealtorScraperHealthCheckHeadRequest
*/
func (a *RealtorAPIService) RealtorRealtorScraperHealthCheckHead(ctx context.Context) ApiRealtorRealtorScraperHealthCheckHeadRequest {
	return ApiRealtorRealtorScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RealtorAPIService) RealtorRealtorScraperHealthCheckHeadExecute(r ApiRealtorRealtorScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtorAPIService.RealtorRealtorScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/realtor/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRealtorSearchPropertyListingsRequest struct {
	ctx context.Context
	ApiService *RealtorAPIService
	location *string
	market *string
	status *string
	priceMin *float32
	priceMax *float32
	bedsMin *int32
	bathsMin *int32
	sqftMin *int32
	sqftMax *int32
	propertyType *string
	sort *string
	page *int32
	limit *int32
	latMin *float32
	latMax *float32
	lngMin *float32
	lngMax *float32
}

// &#39;Austin, TX&#39;, a ZIP, &#39;Toronto, ON&#39;…
func (r ApiRealtorSearchPropertyListingsRequest) Location(location string) ApiRealtorSearchPropertyListingsRequest {
	r.location = &location
	return r
}

// us (realtor.com) | ca (realtor.ca)
func (r ApiRealtorSearchPropertyListingsRequest) Market(market string) ApiRealtorSearchPropertyListingsRequest {
	r.market = &market
	return r
}

// for_sale | for_rent | sold | pending
func (r ApiRealtorSearchPropertyListingsRequest) Status(status string) ApiRealtorSearchPropertyListingsRequest {
	r.status = &status
	return r
}

func (r ApiRealtorSearchPropertyListingsRequest) PriceMin(priceMin float32) ApiRealtorSearchPropertyListingsRequest {
	r.priceMin = &priceMin
	return r
}

func (r ApiRealtorSearchPropertyListingsRequest) PriceMax(priceMax float32) ApiRealtorSearchPropertyListingsRequest {
	r.priceMax = &priceMax
	return r
}

func (r ApiRealtorSearchPropertyListingsRequest) BedsMin(bedsMin int32) ApiRealtorSearchPropertyListingsRequest {
	r.bedsMin = &bedsMin
	return r
}

func (r ApiRealtorSearchPropertyListingsRequest) BathsMin(bathsMin int32) ApiRealtorSearchPropertyListingsRequest {
	r.bathsMin = &bathsMin
	return r
}

// US only
func (r ApiRealtorSearchPropertyListingsRequest) SqftMin(sqftMin int32) ApiRealtorSearchPropertyListingsRequest {
	r.sqftMin = &sqftMin
	return r
}

// US only
func (r ApiRealtorSearchPropertyListingsRequest) SqftMax(sqftMax int32) ApiRealtorSearchPropertyListingsRequest {
	r.sqftMax = &sqftMax
	return r
}

// US only, CSV of property types
func (r ApiRealtorSearchPropertyListingsRequest) PropertyType(propertyType string) ApiRealtorSearchPropertyListingsRequest {
	r.propertyType = &propertyType
	return r
}

// relevant | newest | price_low | price_high | photo_count
func (r ApiRealtorSearchPropertyListingsRequest) Sort(sort string) ApiRealtorSearchPropertyListingsRequest {
	r.sort = &sort
	return r
}

func (r ApiRealtorSearchPropertyListingsRequest) Page(page int32) ApiRealtorSearchPropertyListingsRequest {
	r.page = &page
	return r
}

func (r ApiRealtorSearchPropertyListingsRequest) Limit(limit int32) ApiRealtorSearchPropertyListingsRequest {
	r.limit = &limit
	return r
}

// CA bbox south
func (r ApiRealtorSearchPropertyListingsRequest) LatMin(latMin float32) ApiRealtorSearchPropertyListingsRequest {
	r.latMin = &latMin
	return r
}

// CA bbox north
func (r ApiRealtorSearchPropertyListingsRequest) LatMax(latMax float32) ApiRealtorSearchPropertyListingsRequest {
	r.latMax = &latMax
	return r
}

// CA bbox west
func (r ApiRealtorSearchPropertyListingsRequest) LngMin(lngMin float32) ApiRealtorSearchPropertyListingsRequest {
	r.lngMin = &lngMin
	return r
}

// CA bbox east
func (r ApiRealtorSearchPropertyListingsRequest) LngMax(lngMax float32) ApiRealtorSearchPropertyListingsRequest {
	r.lngMax = &lngMax
	return r
}

func (r ApiRealtorSearchPropertyListingsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RealtorSearchPropertyListingsExecute(r)
}

/*
RealtorSearchPropertyListings Search property listings

Search for-sale/for-rent/sold listings with rich filters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRealtorSearchPropertyListingsRequest
*/
func (a *RealtorAPIService) RealtorSearchPropertyListings(ctx context.Context) ApiRealtorSearchPropertyListingsRequest {
	return ApiRealtorSearchPropertyListingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *RealtorAPIService) RealtorSearchPropertyListingsExecute(r ApiRealtorSearchPropertyListingsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtorAPIService.RealtorSearchPropertyListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/realtor/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "us"
		r.market = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	} else {
		var defaultValue string = "for_sale"
		r.status = &defaultValue
	}
	if r.priceMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_min", r.priceMin, "form", "")
	}
	if r.priceMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_max", r.priceMax, "form", "")
	}
	if r.bedsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beds_min", r.bedsMin, "form", "")
	}
	if r.bathsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "baths_min", r.bathsMin, "form", "")
	}
	if r.sqftMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sqft_min", r.sqftMin, "form", "")
	}
	if r.sqftMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sqft_max", r.sqftMax, "form", "")
	}
	if r.propertyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "property_type", r.propertyType, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "relevant"
		r.sort = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.latMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lat_min", r.latMin, "form", "")
	}
	if r.latMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lat_max", r.latMax, "form", "")
	}
	if r.lngMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lng_min", r.lngMin, "form", "")
	}
	if r.lngMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lng_max", r.lngMax, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
