/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ZillowAPIService ZillowAPI service
type ZillowAPIService service

type ApiZillowGetAgentProfileListingsRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
	username *string
	url *string
}

// Zillow profile username
func (r ApiZillowGetAgentProfileListingsRequest) Username(username string) ApiZillowGetAgentProfileListingsRequest {
	r.username = &username
	return r
}

// Full Zillow /profile/... URL
func (r ApiZillowGetAgentProfileListingsRequest) Url(url string) ApiZillowGetAgentProfileListingsRequest {
	r.url = &url
	return r
}

func (r ApiZillowGetAgentProfileListingsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowGetAgentProfileListingsExecute(r)
}

/*
ZillowGetAgentProfileListings Get agent profile + listings

Get a Zillow professional's profile and their active listings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZillowGetAgentProfileListingsRequest
*/
func (a *ZillowAPIService) ZillowGetAgentProfileListings(ctx context.Context) ApiZillowGetAgentProfileListingsRequest {
	return ApiZillowGetAgentProfileListingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowGetAgentProfileListingsExecute(r ApiZillowGetAgentProfileListingsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowGetAgentProfileListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/agent"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.username != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "form", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiZillowGetPropertyDetailRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
	zpid string
}

func (r ApiZillowGetPropertyDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowGetPropertyDetailExecute(r)
}

/*
ZillowGetPropertyDetail Get property detail

Get a single Zillow property's full detail by zpid.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param zpid
 @return ApiZillowGetPropertyDetailRequest
*/
func (a *ZillowAPIService) ZillowGetPropertyDetail(ctx context.Context, zpid string) ApiZillowGetPropertyDetailRequest {
	return ApiZillowGetPropertyDetailRequest{
		ApiService: a,
		ctx: ctx,
		zpid: zpid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowGetPropertyDetailExecute(r ApiZillowGetPropertyDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowGetPropertyDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/property/{zpid}"
	localVarPath = strings.Replace(localVarPath, "{"+"zpid"+"}", url.PathEscape(parameterValueToString(r.zpid, "zpid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiZillowGetPropertyDetailByUrlRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
	url *string
}

// Full Zillow /homedetails/... URL
func (r ApiZillowGetPropertyDetailByUrlRequest) Url(url string) ApiZillowGetPropertyDetailByUrlRequest {
	r.url = &url
	return r
}

func (r ApiZillowGetPropertyDetailByUrlRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowGetPropertyDetailByUrlExecute(r)
}

/*
ZillowGetPropertyDetailByUrl Get property detail by URL

Get a single Zillow property's full detail by its homedetails URL.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZillowGetPropertyDetailByUrlRequest
*/
func (a *ZillowAPIService) ZillowGetPropertyDetailByUrl(ctx context.Context) ApiZillowGetPropertyDetailByUrlRequest {
	return ApiZillowGetPropertyDetailByUrlRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowGetPropertyDetailByUrlExecute(r ApiZillowGetPropertyDetailByUrlRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowGetPropertyDetailByUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/property"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.url == nil {
		return localVarReturnValue, nil, reportError("url is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiZillowListCoverageMarketsRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
}

func (r ApiZillowListCoverageMarketsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowListCoverageMarketsExecute(r)
}

/*
ZillowListCoverageMarkets List coverage markets

List Zillow coverage regions (US + Canada).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZillowListCoverageMarketsRequest
*/
func (a *ZillowAPIService) ZillowListCoverageMarkets(ctx context.Context) ApiZillowListCoverageMarketsRequest {
	return ApiZillowListCoverageMarketsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowListCoverageMarketsExecute(r ApiZillowListCoverageMarketsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowListCoverageMarkets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/markets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiZillowRegionAddressSuggestionsRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
	query *string
}

// Partial location — city, ZIP, address, neighborhood
func (r ApiZillowRegionAddressSuggestionsRequest) Query(query string) ApiZillowRegionAddressSuggestionsRequest {
	r.query = &query
	return r
}

func (r ApiZillowRegionAddressSuggestionsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowRegionAddressSuggestionsExecute(r)
}

/*
ZillowRegionAddressSuggestions Region/address suggestions

Resolve a search term to Zillow regions/addresses.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZillowRegionAddressSuggestionsRequest
*/
func (a *ZillowAPIService) ZillowRegionAddressSuggestions(ctx context.Context) ApiZillowRegionAddressSuggestionsRequest {
	return ApiZillowRegionAddressSuggestionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowRegionAddressSuggestionsExecute(r ApiZillowRegionAddressSuggestionsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowRegionAddressSuggestions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/autocomplete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiZillowSearchPropertiesRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
	location *string
	status *string
	page *int32
	sort *string
	priceMin *int32
	priceMax *int32
	bedsMin *int32
	bathsMin *float32
	homeType *string
	sqftMin *int32
	sqftMax *int32
	lotMin *int32
	lotMax *int32
	yearBuiltMin *int32
	yearBuiltMax *int32
	hoaMax *int32
	keywords *string
	daysOn *string
	north *float32
	south *float32
	east *float32
	west *float32
}

// City/state, ZIP, address or neighborhood
func (r ApiZillowSearchPropertiesRequest) Location(location string) ApiZillowSearchPropertiesRequest {
	r.location = &location
	return r
}

// for_sale|for_rent|sold
func (r ApiZillowSearchPropertiesRequest) Status(status string) ApiZillowSearchPropertiesRequest {
	r.status = &status
	return r
}

func (r ApiZillowSearchPropertiesRequest) Page(page int32) ApiZillowSearchPropertiesRequest {
	r.page = &page
	return r
}

// homes_for_you|newest|price_high_to_low|price_low_to_high|bedrooms|bathrooms|square_feet|lot_size|year_built
func (r ApiZillowSearchPropertiesRequest) Sort(sort string) ApiZillowSearchPropertiesRequest {
	r.sort = &sort
	return r
}

func (r ApiZillowSearchPropertiesRequest) PriceMin(priceMin int32) ApiZillowSearchPropertiesRequest {
	r.priceMin = &priceMin
	return r
}

func (r ApiZillowSearchPropertiesRequest) PriceMax(priceMax int32) ApiZillowSearchPropertiesRequest {
	r.priceMax = &priceMax
	return r
}

func (r ApiZillowSearchPropertiesRequest) BedsMin(bedsMin int32) ApiZillowSearchPropertiesRequest {
	r.bedsMin = &bedsMin
	return r
}

func (r ApiZillowSearchPropertiesRequest) BathsMin(bathsMin float32) ApiZillowSearchPropertiesRequest {
	r.bathsMin = &bathsMin
	return r
}

// houses|condos|townhomes|apartments|manufactured|lots|multi_family
func (r ApiZillowSearchPropertiesRequest) HomeType(homeType string) ApiZillowSearchPropertiesRequest {
	r.homeType = &homeType
	return r
}

func (r ApiZillowSearchPropertiesRequest) SqftMin(sqftMin int32) ApiZillowSearchPropertiesRequest {
	r.sqftMin = &sqftMin
	return r
}

func (r ApiZillowSearchPropertiesRequest) SqftMax(sqftMax int32) ApiZillowSearchPropertiesRequest {
	r.sqftMax = &sqftMax
	return r
}

func (r ApiZillowSearchPropertiesRequest) LotMin(lotMin int32) ApiZillowSearchPropertiesRequest {
	r.lotMin = &lotMin
	return r
}

func (r ApiZillowSearchPropertiesRequest) LotMax(lotMax int32) ApiZillowSearchPropertiesRequest {
	r.lotMax = &lotMax
	return r
}

func (r ApiZillowSearchPropertiesRequest) YearBuiltMin(yearBuiltMin int32) ApiZillowSearchPropertiesRequest {
	r.yearBuiltMin = &yearBuiltMin
	return r
}

func (r ApiZillowSearchPropertiesRequest) YearBuiltMax(yearBuiltMax int32) ApiZillowSearchPropertiesRequest {
	r.yearBuiltMax = &yearBuiltMax
	return r
}

func (r ApiZillowSearchPropertiesRequest) HoaMax(hoaMax int32) ApiZillowSearchPropertiesRequest {
	r.hoaMax = &hoaMax
	return r
}

func (r ApiZillowSearchPropertiesRequest) Keywords(keywords string) ApiZillowSearchPropertiesRequest {
	r.keywords = &keywords
	return r
}

func (r ApiZillowSearchPropertiesRequest) DaysOn(daysOn string) ApiZillowSearchPropertiesRequest {
	r.daysOn = &daysOn
	return r
}

// Map bounds for tiling past the 820 cap
func (r ApiZillowSearchPropertiesRequest) North(north float32) ApiZillowSearchPropertiesRequest {
	r.north = &north
	return r
}

func (r ApiZillowSearchPropertiesRequest) South(south float32) ApiZillowSearchPropertiesRequest {
	r.south = &south
	return r
}

func (r ApiZillowSearchPropertiesRequest) East(east float32) ApiZillowSearchPropertiesRequest {
	r.east = &east
	return r
}

func (r ApiZillowSearchPropertiesRequest) West(west float32) ApiZillowSearchPropertiesRequest {
	r.west = &west
	return r
}

func (r ApiZillowSearchPropertiesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowSearchPropertiesExecute(r)
}

/*
ZillowSearchProperties Search properties

Search Zillow for for-sale / for-rent / recently-sold properties.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZillowSearchPropertiesRequest
*/
func (a *ZillowAPIService) ZillowSearchProperties(ctx context.Context) ApiZillowSearchPropertiesRequest {
	return ApiZillowSearchPropertiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowSearchPropertiesExecute(r ApiZillowSearchPropertiesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowSearchProperties")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.location == nil {
		return localVarReturnValue, nil, reportError("location is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	} else {
		var defaultValue string = "for_sale"
		r.status = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.priceMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_min", r.priceMin, "form", "")
	}
	if r.priceMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_max", r.priceMax, "form", "")
	}
	if r.bedsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beds_min", r.bedsMin, "form", "")
	}
	if r.bathsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "baths_min", r.bathsMin, "form", "")
	}
	if r.homeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "home_type", r.homeType, "form", "")
	}
	if r.sqftMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sqft_min", r.sqftMin, "form", "")
	}
	if r.sqftMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sqft_max", r.sqftMax, "form", "")
	}
	if r.lotMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lot_min", r.lotMin, "form", "")
	}
	if r.lotMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lot_max", r.lotMax, "form", "")
	}
	if r.yearBuiltMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year_built_min", r.yearBuiltMin, "form", "")
	}
	if r.yearBuiltMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "year_built_max", r.yearBuiltMax, "form", "")
	}
	if r.hoaMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hoa_max", r.hoaMax, "form", "")
	}
	if r.keywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keywords", r.keywords, "form", "")
	}
	if r.daysOn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "days_on", r.daysOn, "form", "")
	}
	if r.north != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "north", r.north, "form", "")
	}
	if r.south != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "south", r.south, "form", "")
	}
	if r.east != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "east", r.east, "form", "")
	}
	if r.west != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "west", r.west, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiZillowZillowScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
}

func (r ApiZillowZillowScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowZillowScraperHealthCheckExecute(r)
}

/*
ZillowZillowScraperHealthCheck Zillow scraper health check

Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZillowZillowScraperHealthCheckRequest
*/
func (a *ZillowAPIService) ZillowZillowScraperHealthCheck(ctx context.Context) ApiZillowZillowScraperHealthCheckRequest {
	return ApiZillowZillowScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowZillowScraperHealthCheckExecute(r ApiZillowZillowScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowZillowScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiZillowZillowScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *ZillowAPIService
}

func (r ApiZillowZillowScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ZillowZillowScraperHealthCheckHeadExecute(r)
}

/*
ZillowZillowScraperHealthCheckHead Zillow scraper health check

Check health of the Zillow scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiZillowZillowScraperHealthCheckHeadRequest
*/
func (a *ZillowAPIService) ZillowZillowScraperHealthCheckHead(ctx context.Context) ApiZillowZillowScraperHealthCheckHeadRequest {
	return ApiZillowZillowScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ZillowAPIService) ZillowZillowScraperHealthCheckHeadExecute(r ApiZillowZillowScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZillowAPIService.ZillowZillowScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/zillow/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
