/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// IdealistaAPIService IdealistaAPI service
type IdealistaAPIService service

type ApiIdealistaAgencyByPhoneRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
	phone string
	market *string
	operation *string
	propertyType *string
	page *int32
	maxItems *int32
	includeListings *bool
}

// es|it|pt
func (r ApiIdealistaAgencyByPhoneRequest) Market(market string) ApiIdealistaAgencyByPhoneRequest {
	r.market = &market
	return r
}

// sale|rent
func (r ApiIdealistaAgencyByPhoneRequest) Operation(operation string) ApiIdealistaAgencyByPhoneRequest {
	r.operation = &operation
	return r
}

// homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
func (r ApiIdealistaAgencyByPhoneRequest) PropertyType(propertyType string) ApiIdealistaAgencyByPhoneRequest {
	r.propertyType = &propertyType
	return r
}

func (r ApiIdealistaAgencyByPhoneRequest) Page(page int32) ApiIdealistaAgencyByPhoneRequest {
	r.page = &page
	return r
}

func (r ApiIdealistaAgencyByPhoneRequest) MaxItems(maxItems int32) ApiIdealistaAgencyByPhoneRequest {
	r.maxItems = &maxItems
	return r
}

func (r ApiIdealistaAgencyByPhoneRequest) IncludeListings(includeListings bool) ApiIdealistaAgencyByPhoneRequest {
	r.includeListings = &includeListings
	return r
}

func (r ApiIdealistaAgencyByPhoneRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaAgencyByPhoneExecute(r)
}

/*
IdealistaAgencyByPhone Agency by phone

Reverse-lookup the agency behind a contact phone (national number), with its listings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param phone
 @return ApiIdealistaAgencyByPhoneRequest
*/
func (a *IdealistaAPIService) IdealistaAgencyByPhone(ctx context.Context, phone string) ApiIdealistaAgencyByPhoneRequest {
	return ApiIdealistaAgencyByPhoneRequest{
		ApiService: a,
		ctx: ctx,
		phone: phone,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaAgencyByPhoneExecute(r ApiIdealistaAgencyByPhoneRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaAgencyByPhone")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/agency/by-phone/{phone}"
	localVarPath = strings.Replace(localVarPath, "{"+"phone"+"}", url.PathEscape(parameterValueToString(r.phone, "phone")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "es"
		r.market = &defaultValue
	}
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	}
	if r.propertyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "property_type", r.propertyType, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.maxItems != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_items", r.maxItems, "form", "")
	} else {
		var defaultValue int32 = 30
		r.maxItems = &defaultValue
	}
	if r.includeListings != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_listings", r.includeListings, "form", "")
	} else {
		var defaultValue bool = true
		r.includeListings = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaAgencyProfileListingsRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
	shortName string
	market *string
	operation *string
	propertyType *string
	page *int32
	maxItems *int32
	includeListings *bool
}

// es|it|pt
func (r ApiIdealistaAgencyProfileListingsRequest) Market(market string) ApiIdealistaAgencyProfileListingsRequest {
	r.market = &market
	return r
}

// sale|rent
func (r ApiIdealistaAgencyProfileListingsRequest) Operation(operation string) ApiIdealistaAgencyProfileListingsRequest {
	r.operation = &operation
	return r
}

// homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
func (r ApiIdealistaAgencyProfileListingsRequest) PropertyType(propertyType string) ApiIdealistaAgencyProfileListingsRequest {
	r.propertyType = &propertyType
	return r
}

func (r ApiIdealistaAgencyProfileListingsRequest) Page(page int32) ApiIdealistaAgencyProfileListingsRequest {
	r.page = &page
	return r
}

func (r ApiIdealistaAgencyProfileListingsRequest) MaxItems(maxItems int32) ApiIdealistaAgencyProfileListingsRequest {
	r.maxItems = &maxItems
	return r
}

func (r ApiIdealistaAgencyProfileListingsRequest) IncludeListings(includeListings bool) ApiIdealistaAgencyProfileListingsRequest {
	r.includeListings = &includeListings
	return r
}

func (r ApiIdealistaAgencyProfileListingsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaAgencyProfileListingsExecute(r)
}

/*
IdealistaAgencyProfileListings Agency profile + listings

An agency's microsite profile plus a page of its listings (by URL-slug shortName).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shortName
 @return ApiIdealistaAgencyProfileListingsRequest
*/
func (a *IdealistaAPIService) IdealistaAgencyProfileListings(ctx context.Context, shortName string) ApiIdealistaAgencyProfileListingsRequest {
	return ApiIdealistaAgencyProfileListingsRequest{
		ApiService: a,
		ctx: ctx,
		shortName: shortName,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaAgencyProfileListingsExecute(r ApiIdealistaAgencyProfileListingsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaAgencyProfileListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/agency/{short_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"short_name"+"}", url.PathEscape(parameterValueToString(r.shortName, "shortName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "es"
		r.market = &defaultValue
	}
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	}
	if r.propertyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "property_type", r.propertyType, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.maxItems != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_items", r.maxItems, "form", "")
	} else {
		var defaultValue int32 = 30
		r.maxItems = &defaultValue
	}
	if r.includeListings != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_listings", r.includeListings, "form", "")
	} else {
		var defaultValue bool = true
		r.includeListings = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaGetListingEngagementStatsRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
	propertyCode string
	market *string
	locale *string
}

// es|it|pt
func (r ApiIdealistaGetListingEngagementStatsRequest) Market(market string) ApiIdealistaGetListingEngagementStatsRequest {
	r.market = &market
	return r
}

// Language for stat labels
func (r ApiIdealistaGetListingEngagementStatsRequest) Locale(locale string) ApiIdealistaGetListingEngagementStatsRequest {
	r.locale = &locale
	return r
}

func (r ApiIdealistaGetListingEngagementStatsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaGetListingEngagementStatsExecute(r)
}

/*
IdealistaGetListingEngagementStats Get listing engagement stats

Engagement counters for a listing: views, email contacts, sent-to-friend, favourites.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param propertyCode
 @return ApiIdealistaGetListingEngagementStatsRequest
*/
func (a *IdealistaAPIService) IdealistaGetListingEngagementStats(ctx context.Context, propertyCode string) ApiIdealistaGetListingEngagementStatsRequest {
	return ApiIdealistaGetListingEngagementStatsRequest{
		ApiService: a,
		ctx: ctx,
		propertyCode: propertyCode,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaGetListingEngagementStatsExecute(r ApiIdealistaGetListingEngagementStatsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaGetListingEngagementStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/properties/{property_code}/stats"
	localVarPath = strings.Replace(localVarPath, "{"+"property_code"+"}", url.PathEscape(parameterValueToString(r.propertyCode, "propertyCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "es"
		r.market = &defaultValue
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	} else {
		var defaultValue string = "en"
		r.locale = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaGetPropertyDetailRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
	propertyCode string
	market *string
	locale *string
}

// es|it|pt
func (r ApiIdealistaGetPropertyDetailRequest) Market(market string) ApiIdealistaGetPropertyDetailRequest {
	r.market = &market
	return r
}

// Response language (en, es, it, pt)
func (r ApiIdealistaGetPropertyDetailRequest) Locale(locale string) ApiIdealistaGetPropertyDetailRequest {
	r.locale = &locale
	return r
}

func (r ApiIdealistaGetPropertyDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaGetPropertyDetailExecute(r)
}

/*
IdealistaGetPropertyDetail Get property detail

Get a single Idealista listing's full detail (energy cert, characteristics, media).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param propertyCode
 @return ApiIdealistaGetPropertyDetailRequest
*/
func (a *IdealistaAPIService) IdealistaGetPropertyDetail(ctx context.Context, propertyCode string) ApiIdealistaGetPropertyDetailRequest {
	return ApiIdealistaGetPropertyDetailRequest{
		ApiService: a,
		ctx: ctx,
		propertyCode: propertyCode,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaGetPropertyDetailExecute(r ApiIdealistaGetPropertyDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaGetPropertyDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/properties/{property_code}"
	localVarPath = strings.Replace(localVarPath, "{"+"property_code"+"}", url.PathEscape(parameterValueToString(r.propertyCode, "propertyCode")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "es"
		r.market = &defaultValue
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	} else {
		var defaultValue string = "en"
		r.locale = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaIdealistaScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
}

func (r ApiIdealistaIdealistaScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaIdealistaScraperHealthCheckExecute(r)
}

/*
IdealistaIdealistaScraperHealthCheck Idealista scraper health check

Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdealistaIdealistaScraperHealthCheckRequest
*/
func (a *IdealistaAPIService) IdealistaIdealistaScraperHealthCheck(ctx context.Context) ApiIdealistaIdealistaScraperHealthCheckRequest {
	return ApiIdealistaIdealistaScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaIdealistaScraperHealthCheckExecute(r ApiIdealistaIdealistaScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaIdealistaScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaIdealistaScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
}

func (r ApiIdealistaIdealistaScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaIdealistaScraperHealthCheckHeadExecute(r)
}

/*
IdealistaIdealistaScraperHealthCheckHead Idealista scraper health check

Check health of the Idealista scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdealistaIdealistaScraperHealthCheckHeadRequest
*/
func (a *IdealistaAPIService) IdealistaIdealistaScraperHealthCheckHead(ctx context.Context) ApiIdealistaIdealistaScraperHealthCheckHeadRequest {
	return ApiIdealistaIdealistaScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaIdealistaScraperHealthCheckHeadExecute(r ApiIdealistaIdealistaScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaIdealistaScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaListMarketsRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
}

func (r ApiIdealistaListMarketsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaListMarketsExecute(r)
}

/*
IdealistaListMarkets List markets

List supported Idealista markets (ES, IT, PT).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdealistaListMarketsRequest
*/
func (a *IdealistaAPIService) IdealistaListMarkets(ctx context.Context) ApiIdealistaListMarketsRequest {
	return ApiIdealistaListMarketsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaListMarketsExecute(r ApiIdealistaListMarketsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaListMarkets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/markets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaResolveLocationsRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
	query *string
	operation *string
	propertyType *string
	market *string
	locale *string
}

// Free-text location, e.g. &#39;sagrada familia&#39;
func (r ApiIdealistaResolveLocationsRequest) Query(query string) ApiIdealistaResolveLocationsRequest {
	r.query = &query
	return r
}

// sale|rent
func (r ApiIdealistaResolveLocationsRequest) Operation(operation string) ApiIdealistaResolveLocationsRequest {
	r.operation = &operation
	return r
}

// homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
func (r ApiIdealistaResolveLocationsRequest) PropertyType(propertyType string) ApiIdealistaResolveLocationsRequest {
	r.propertyType = &propertyType
	return r
}

// es|it|pt
func (r ApiIdealistaResolveLocationsRequest) Market(market string) ApiIdealistaResolveLocationsRequest {
	r.market = &market
	return r
}

// Response language (en, es, it, pt)
func (r ApiIdealistaResolveLocationsRequest) Locale(locale string) ApiIdealistaResolveLocationsRequest {
	r.locale = &locale
	return r
}

func (r ApiIdealistaResolveLocationsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaResolveLocationsExecute(r)
}

/*
IdealistaResolveLocations Resolve locations

Resolve a free-text query into Idealista location codes for a search.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdealistaResolveLocationsRequest
*/
func (a *IdealistaAPIService) IdealistaResolveLocations(ctx context.Context) ApiIdealistaResolveLocationsRequest {
	return ApiIdealistaResolveLocationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaResolveLocationsExecute(r ApiIdealistaResolveLocationsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaResolveLocations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/suggest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	} else {
		var defaultValue string = "sale"
		r.operation = &defaultValue
	}
	if r.propertyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "property_type", r.propertyType, "form", "")
	} else {
		var defaultValue string = "homes"
		r.propertyType = &defaultValue
	}
	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "es"
		r.market = &defaultValue
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaSearchAllBeatsResultCapRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
	location *string
	operation *string
	propertyType *string
	market *string
	maxResults *int32
	minPrice *float32
	maxPrice *float32
	minSize *float32
	maxSize *float32
	minRooms *int32
	maxRooms *int32
	locale *string
}

// Idealista location code (from /suggest)
func (r ApiIdealistaSearchAllBeatsResultCapRequest) Location(location string) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.location = &location
	return r
}

// sale|rent
func (r ApiIdealistaSearchAllBeatsResultCapRequest) Operation(operation string) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.operation = &operation
	return r
}

// homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
func (r ApiIdealistaSearchAllBeatsResultCapRequest) PropertyType(propertyType string) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.propertyType = &propertyType
	return r
}

// es|it|pt
func (r ApiIdealistaSearchAllBeatsResultCapRequest) Market(market string) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.market = &market
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) MaxResults(maxResults int32) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.maxResults = &maxResults
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) MinPrice(minPrice float32) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.minPrice = &minPrice
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) MaxPrice(maxPrice float32) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.maxPrice = &maxPrice
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) MinSize(minSize float32) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.minSize = &minSize
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) MaxSize(maxSize float32) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.maxSize = &maxSize
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) MinRooms(minRooms int32) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.minRooms = &minRooms
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) MaxRooms(maxRooms int32) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.maxRooms = &maxRooms
	return r
}

// Response language (en, es, it, pt)
func (r ApiIdealistaSearchAllBeatsResultCapRequest) Locale(locale string) ApiIdealistaSearchAllBeatsResultCapRequest {
	r.locale = &locale
	return r
}

func (r ApiIdealistaSearchAllBeatsResultCapRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaSearchAllBeatsResultCapExecute(r)
}

/*
IdealistaSearchAllBeatsResultCap Search all (beats result cap)

Full inventory for a location, beating Idealista's ~1800 per-search cap via
price-range tiling (deduped). Billed per page fetched.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdealistaSearchAllBeatsResultCapRequest
*/
func (a *IdealistaAPIService) IdealistaSearchAllBeatsResultCap(ctx context.Context) ApiIdealistaSearchAllBeatsResultCapRequest {
	return ApiIdealistaSearchAllBeatsResultCapRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaSearchAllBeatsResultCapExecute(r ApiIdealistaSearchAllBeatsResultCapRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaSearchAllBeatsResultCap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/search/all"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.location == nil {
		return localVarReturnValue, nil, reportError("location is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	} else {
		var defaultValue string = "sale"
		r.operation = &defaultValue
	}
	if r.propertyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "property_type", r.propertyType, "form", "")
	} else {
		var defaultValue string = "homes"
		r.propertyType = &defaultValue
	}
	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "es"
		r.market = &defaultValue
	}
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_results", r.maxResults, "form", "")
	} else {
		var defaultValue int32 = 500
		r.maxResults = &defaultValue
	}
	if r.minPrice != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_price", r.minPrice, "form", "")
	}
	if r.maxPrice != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_price", r.maxPrice, "form", "")
	}
	if r.minSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_size", r.minSize, "form", "")
	}
	if r.maxSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_size", r.maxSize, "form", "")
	}
	if r.minRooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_rooms", r.minRooms, "form", "")
	}
	if r.maxRooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_rooms", r.maxRooms, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdealistaSearchListingsRequest struct {
	ctx context.Context
	ApiService *IdealistaAPIService
	location *string
	operation *string
	propertyType *string
	market *string
	page *int32
	maxItems *int32
	sortBy *string
	sortOrder *string
	minPrice *float32
	maxPrice *float32
	minSize *float32
	maxSize *float32
	minRooms *int32
	maxRooms *int32
	locale *string
}

// Idealista location code (from /suggest)
func (r ApiIdealistaSearchListingsRequest) Location(location string) ApiIdealistaSearchListingsRequest {
	r.location = &location
	return r
}

// sale|rent
func (r ApiIdealistaSearchListingsRequest) Operation(operation string) ApiIdealistaSearchListingsRequest {
	r.operation = &operation
	return r
}

// homes|offices|premises|garages|newDevelopments|lands|storageRooms|buildings|bedrooms
func (r ApiIdealistaSearchListingsRequest) PropertyType(propertyType string) ApiIdealistaSearchListingsRequest {
	r.propertyType = &propertyType
	return r
}

// es|it|pt
func (r ApiIdealistaSearchListingsRequest) Market(market string) ApiIdealistaSearchListingsRequest {
	r.market = &market
	return r
}

func (r ApiIdealistaSearchListingsRequest) Page(page int32) ApiIdealistaSearchListingsRequest {
	r.page = &page
	return r
}

func (r ApiIdealistaSearchListingsRequest) MaxItems(maxItems int32) ApiIdealistaSearchListingsRequest {
	r.maxItems = &maxItems
	return r
}

// distance|size|rooms|floor|ratioeurm2|price|street|photos|modificationDate|publicationDate|weigh|priceDown|preservationTypeAndPrice|privateAds
func (r ApiIdealistaSearchListingsRequest) SortBy(sortBy string) ApiIdealistaSearchListingsRequest {
	r.sortBy = &sortBy
	return r
}

// asc|desc
func (r ApiIdealistaSearchListingsRequest) SortOrder(sortOrder string) ApiIdealistaSearchListingsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiIdealistaSearchListingsRequest) MinPrice(minPrice float32) ApiIdealistaSearchListingsRequest {
	r.minPrice = &minPrice
	return r
}

func (r ApiIdealistaSearchListingsRequest) MaxPrice(maxPrice float32) ApiIdealistaSearchListingsRequest {
	r.maxPrice = &maxPrice
	return r
}

func (r ApiIdealistaSearchListingsRequest) MinSize(minSize float32) ApiIdealistaSearchListingsRequest {
	r.minSize = &minSize
	return r
}

func (r ApiIdealistaSearchListingsRequest) MaxSize(maxSize float32) ApiIdealistaSearchListingsRequest {
	r.maxSize = &maxSize
	return r
}

func (r ApiIdealistaSearchListingsRequest) MinRooms(minRooms int32) ApiIdealistaSearchListingsRequest {
	r.minRooms = &minRooms
	return r
}

func (r ApiIdealistaSearchListingsRequest) MaxRooms(maxRooms int32) ApiIdealistaSearchListingsRequest {
	r.maxRooms = &maxRooms
	return r
}

// Response language (en, es, it, pt)
func (r ApiIdealistaSearchListingsRequest) Locale(locale string) ApiIdealistaSearchListingsRequest {
	r.locale = &locale
	return r
}

func (r ApiIdealistaSearchListingsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.IdealistaSearchListingsExecute(r)
}

/*
IdealistaSearchListings Search listings

Search Idealista real-estate listings by location code.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdealistaSearchListingsRequest
*/
func (a *IdealistaAPIService) IdealistaSearchListings(ctx context.Context) ApiIdealistaSearchListingsRequest {
	return ApiIdealistaSearchListingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *IdealistaAPIService) IdealistaSearchListingsExecute(r ApiIdealistaSearchListingsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdealistaAPIService.IdealistaSearchListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idealista/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.location == nil {
		return localVarReturnValue, nil, reportError("location is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	} else {
		var defaultValue string = "sale"
		r.operation = &defaultValue
	}
	if r.propertyType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "property_type", r.propertyType, "form", "")
	} else {
		var defaultValue string = "homes"
		r.propertyType = &defaultValue
	}
	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "es"
		r.market = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.maxItems != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_items", r.maxItems, "form", "")
	} else {
		var defaultValue int32 = 30
		r.maxItems = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
		var defaultValue string = "desc"
		r.sortOrder = &defaultValue
	}
	if r.minPrice != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_price", r.minPrice, "form", "")
	}
	if r.maxPrice != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_price", r.maxPrice, "form", "")
	}
	if r.minSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_size", r.minSize, "form", "")
	}
	if r.maxSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_size", r.maxSize, "form", "")
	}
	if r.minRooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_rooms", r.minRooms, "form", "")
	}
	if r.maxRooms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_rooms", r.maxRooms, "form", "")
	}
	if r.locale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
