/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DuckDuckGoAPIService DuckDuckGoAPI service
type DuckDuckGoAPIService service

type ApiDuckduckgoDuckduckgoScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
}

func (r ApiDuckduckgoDuckduckgoScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoDuckduckgoScraperHealthCheckExecute(r)
}

/*
DuckduckgoDuckduckgoScraperHealthCheck DuckDuckGo scraper health check

Check health of the DuckDuckGo scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoDuckduckgoScraperHealthCheckRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoDuckduckgoScraperHealthCheck(ctx context.Context) ApiDuckduckgoDuckduckgoScraperHealthCheckRequest {
	return ApiDuckduckgoDuckduckgoScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoDuckduckgoScraperHealthCheckExecute(r ApiDuckduckgoDuckduckgoScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoDuckduckgoScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoDuckduckgoScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
}

func (r ApiDuckduckgoDuckduckgoScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoDuckduckgoScraperHealthCheckHeadExecute(r)
}

/*
DuckduckgoDuckduckgoScraperHealthCheckHead DuckDuckGo scraper health check

Check health of the DuckDuckGo scraper service (accepts HEAD for UptimeRobot).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoDuckduckgoScraperHealthCheckHeadRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoDuckduckgoScraperHealthCheckHead(ctx context.Context) ApiDuckduckgoDuckduckgoScraperHealthCheckHeadRequest {
	return ApiDuckduckgoDuckduckgoScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoDuckduckgoScraperHealthCheckHeadExecute(r ApiDuckduckgoDuckduckgoScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoDuckduckgoScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoImageSearchRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
	query *string
	region *string
	safesearch *string
	page *int32
	size *string
	color *string
	imageType *string
	layout *string
	license *string
}

// Search query
func (r ApiDuckduckgoImageSearchRequest) Query(query string) ApiDuckduckgoImageSearchRequest {
	r.query = &query
	return r
}

// DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions.
func (r ApiDuckduckgoImageSearchRequest) Region(region string) ApiDuckduckgoImageSearchRequest {
	r.region = &region
	return r
}

// on | moderate | off
func (r ApiDuckduckgoImageSearchRequest) Safesearch(safesearch string) ApiDuckduckgoImageSearchRequest {
	r.safesearch = &safesearch
	return r
}

// 100 results per page
func (r ApiDuckduckgoImageSearchRequest) Page(page int32) ApiDuckduckgoImageSearchRequest {
	r.page = &page
	return r
}

// Small | Medium | Large | Wallpaper
func (r ApiDuckduckgoImageSearchRequest) Size(size string) ApiDuckduckgoImageSearchRequest {
	r.size = &size
	return r
}

// color | Monochrome | Red | Blue | …
func (r ApiDuckduckgoImageSearchRequest) Color(color string) ApiDuckduckgoImageSearchRequest {
	r.color = &color
	return r
}

// photo | clipart | gif | transparent | line
func (r ApiDuckduckgoImageSearchRequest) ImageType(imageType string) ApiDuckduckgoImageSearchRequest {
	r.imageType = &imageType
	return r
}

// Square | Tall | Wide
func (r ApiDuckduckgoImageSearchRequest) Layout(layout string) ApiDuckduckgoImageSearchRequest {
	r.layout = &layout
	return r
}

// Any | Public | Share | ShareCommercially | Modify
func (r ApiDuckduckgoImageSearchRequest) License(license string) ApiDuckduckgoImageSearchRequest {
	r.license = &license
	return r
}

func (r ApiDuckduckgoImageSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoImageSearchExecute(r)
}

/*
DuckduckgoImageSearch Image search

DuckDuckGo image search with size/color/type/layout/license filters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoImageSearchRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoImageSearch(ctx context.Context) ApiDuckduckgoImageSearchRequest {
	return ApiDuckduckgoImageSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoImageSearchExecute(r ApiDuckduckgoImageSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoImageSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/images"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	} else {
		var defaultValue string = "wt-wt"
		r.region = &defaultValue
	}
	if r.safesearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "safesearch", r.safesearch, "form", "")
	} else {
		var defaultValue string = "moderate"
		r.safesearch = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue string = ""
		r.size = &defaultValue
	}
	if r.color != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "color", r.color, "form", "")
	} else {
		var defaultValue string = ""
		r.color = &defaultValue
	}
	if r.imageType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image_type", r.imageType, "form", "")
	} else {
		var defaultValue string = ""
		r.imageType = &defaultValue
	}
	if r.layout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "layout", r.layout, "form", "")
	} else {
		var defaultValue string = ""
		r.layout = &defaultValue
	}
	if r.license != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "license", r.license, "form", "")
	} else {
		var defaultValue string = ""
		r.license = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoInstantAnswerRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
	query *string
}

// Query for the Instant Answer API
func (r ApiDuckduckgoInstantAnswerRequest) Query(query string) ApiDuckduckgoInstantAnswerRequest {
	r.query = &query
	return r
}

func (r ApiDuckduckgoInstantAnswerRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoInstantAnswerExecute(r)
}

/*
DuckduckgoInstantAnswer Instant Answer

DuckDuckGo Instant Answer — abstract, definition, direct answer, related topics.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoInstantAnswerRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoInstantAnswer(ctx context.Context) ApiDuckduckgoInstantAnswerRequest {
	return ApiDuckduckgoInstantAnswerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoInstantAnswerExecute(r ApiDuckduckgoInstantAnswerRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoInstantAnswer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/instant"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoListSupportedRegionsRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
}

func (r ApiDuckduckgoListSupportedRegionsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoListSupportedRegionsExecute(r)
}

/*
DuckduckgoListSupportedRegions List supported regions

The full DuckDuckGo region (kl) code list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoListSupportedRegionsRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoListSupportedRegions(ctx context.Context) ApiDuckduckgoListSupportedRegionsRequest {
	return ApiDuckduckgoListSupportedRegionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoListSupportedRegionsExecute(r ApiDuckduckgoListSupportedRegionsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoListSupportedRegions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/regions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoNewsSearchRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
	query *string
	region *string
	safesearch *string
	timelimit *string
	page *int32
}

// Search query
func (r ApiDuckduckgoNewsSearchRequest) Query(query string) ApiDuckduckgoNewsSearchRequest {
	r.query = &query
	return r
}

// DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions.
func (r ApiDuckduckgoNewsSearchRequest) Region(region string) ApiDuckduckgoNewsSearchRequest {
	r.region = &region
	return r
}

// on | moderate | off
func (r ApiDuckduckgoNewsSearchRequest) Safesearch(safesearch string) ApiDuckduckgoNewsSearchRequest {
	r.safesearch = &safesearch
	return r
}

// day | week | month | year
func (r ApiDuckduckgoNewsSearchRequest) Timelimit(timelimit string) ApiDuckduckgoNewsSearchRequest {
	r.timelimit = &timelimit
	return r
}

// 30 results per page
func (r ApiDuckduckgoNewsSearchRequest) Page(page int32) ApiDuckduckgoNewsSearchRequest {
	r.page = &page
	return r
}

func (r ApiDuckduckgoNewsSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoNewsSearchExecute(r)
}

/*
DuckduckgoNewsSearch News search

DuckDuckGo news search — headline, source, excerpt, unix + ISO date, image.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoNewsSearchRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoNewsSearch(ctx context.Context) ApiDuckduckgoNewsSearchRequest {
	return ApiDuckduckgoNewsSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoNewsSearchExecute(r ApiDuckduckgoNewsSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoNewsSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/news"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	} else {
		var defaultValue string = "wt-wt"
		r.region = &defaultValue
	}
	if r.safesearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "safesearch", r.safesearch, "form", "")
	} else {
		var defaultValue string = "moderate"
		r.safesearch = &defaultValue
	}
	if r.timelimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timelimit", r.timelimit, "form", "")
	} else {
		var defaultValue string = ""
		r.timelimit = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoSearchSuggestionsRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
	query *string
	region *string
}

// Partial query to complete
func (r ApiDuckduckgoSearchSuggestionsRequest) Query(query string) ApiDuckduckgoSearchSuggestionsRequest {
	r.query = &query
	return r
}

// DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions.
func (r ApiDuckduckgoSearchSuggestionsRequest) Region(region string) ApiDuckduckgoSearchSuggestionsRequest {
	r.region = &region
	return r
}

func (r ApiDuckduckgoSearchSuggestionsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoSearchSuggestionsExecute(r)
}

/*
DuckduckgoSearchSuggestions Search suggestions

DuckDuckGo search-box suggestions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoSearchSuggestionsRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoSearchSuggestions(ctx context.Context) ApiDuckduckgoSearchSuggestionsRequest {
	return ApiDuckduckgoSearchSuggestionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoSearchSuggestionsExecute(r ApiDuckduckgoSearchSuggestionsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoSearchSuggestions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/autocomplete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	} else {
		var defaultValue string = "wt-wt"
		r.region = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoVideoSearchRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
	query *string
	region *string
	safesearch *string
	page *int32
	duration *string
	resolution *string
}

// Search query
func (r ApiDuckduckgoVideoSearchRequest) Query(query string) ApiDuckduckgoVideoSearchRequest {
	r.query = &query
	return r
}

// DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions.
func (r ApiDuckduckgoVideoSearchRequest) Region(region string) ApiDuckduckgoVideoSearchRequest {
	r.region = &region
	return r
}

// on | moderate | off
func (r ApiDuckduckgoVideoSearchRequest) Safesearch(safesearch string) ApiDuckduckgoVideoSearchRequest {
	r.safesearch = &safesearch
	return r
}

// 60 results per page
func (r ApiDuckduckgoVideoSearchRequest) Page(page int32) ApiDuckduckgoVideoSearchRequest {
	r.page = &page
	return r
}

// short | medium | long
func (r ApiDuckduckgoVideoSearchRequest) Duration(duration string) ApiDuckduckgoVideoSearchRequest {
	r.duration = &duration
	return r
}

// high | standard
func (r ApiDuckduckgoVideoSearchRequest) Resolution(resolution string) ApiDuckduckgoVideoSearchRequest {
	r.resolution = &resolution
	return r
}

func (r ApiDuckduckgoVideoSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoVideoSearchExecute(r)
}

/*
DuckduckgoVideoSearch Video search

DuckDuckGo video search — title, publisher, uploader, duration, views, thumbnails.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoVideoSearchRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoVideoSearch(ctx context.Context) ApiDuckduckgoVideoSearchRequest {
	return ApiDuckduckgoVideoSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoVideoSearchExecute(r ApiDuckduckgoVideoSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoVideoSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/videos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	} else {
		var defaultValue string = "wt-wt"
		r.region = &defaultValue
	}
	if r.safesearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "safesearch", r.safesearch, "form", "")
	} else {
		var defaultValue string = "moderate"
		r.safesearch = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "form", "")
	} else {
		var defaultValue string = ""
		r.duration = &defaultValue
	}
	if r.resolution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resolution", r.resolution, "form", "")
	} else {
		var defaultValue string = ""
		r.resolution = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDuckduckgoWebSearchRequest struct {
	ctx context.Context
	ApiService *DuckDuckGoAPIService
	query *string
	region *string
	safesearch *string
	timelimit *string
	page *int32
}

// Search query
func (r ApiDuckduckgoWebSearchRequest) Query(query string) ApiDuckduckgoWebSearchRequest {
	r.query = &query
	return r
}

// DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt &#x3D; all regions.
func (r ApiDuckduckgoWebSearchRequest) Region(region string) ApiDuckduckgoWebSearchRequest {
	r.region = &region
	return r
}

// on | moderate | off
func (r ApiDuckduckgoWebSearchRequest) Safesearch(safesearch string) ApiDuckduckgoWebSearchRequest {
	r.safesearch = &safesearch
	return r
}

// day | week | month | year
func (r ApiDuckduckgoWebSearchRequest) Timelimit(timelimit string) ApiDuckduckgoWebSearchRequest {
	r.timelimit = &timelimit
	return r
}

func (r ApiDuckduckgoWebSearchRequest) Page(page int32) ApiDuckduckgoWebSearchRequest {
	r.page = &page
	return r
}

func (r ApiDuckduckgoWebSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DuckduckgoWebSearchExecute(r)
}

/*
DuckduckgoWebSearch Web search

DuckDuckGo web SERP — organic results, the zero-click abstract box, ads flagged.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDuckduckgoWebSearchRequest
*/
func (a *DuckDuckGoAPIService) DuckduckgoWebSearch(ctx context.Context) ApiDuckduckgoWebSearchRequest {
	return ApiDuckduckgoWebSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DuckDuckGoAPIService) DuckduckgoWebSearchExecute(r ApiDuckduckgoWebSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DuckDuckGoAPIService.DuckduckgoWebSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/duckduckgo/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	} else {
		var defaultValue string = "wt-wt"
		r.region = &defaultValue
	}
	if r.safesearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "safesearch", r.safesearch, "form", "")
	} else {
		var defaultValue string = "moderate"
		r.safesearch = &defaultValue
	}
	if r.timelimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timelimit", r.timelimit, "form", "")
	} else {
		var defaultValue string = ""
		r.timelimit = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
