/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// GoogleAPIService GoogleAPI service
type GoogleAPIService service

type ApiGoogleGetAuthorCitationsPerYearChartRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	authorId *string
	hl *string
}

// Scholar user ID
func (r ApiGoogleGetAuthorCitationsPerYearChartRequest) AuthorId(authorId string) ApiGoogleGetAuthorCitationsPerYearChartRequest {
	r.authorId = &authorId
	return r
}

// Language code
func (r ApiGoogleGetAuthorCitationsPerYearChartRequest) Hl(hl string) ApiGoogleGetAuthorCitationsPerYearChartRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGetAuthorCitationsPerYearChartRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetAuthorCitationsPerYearChartExecute(r)
}

/*
GoogleGetAuthorCitationsPerYearChart Get author citations-per-year chart

Return the citations-per-year chart for a Google Scholar author.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetAuthorCitationsPerYearChartRequest
*/
func (a *GoogleAPIService) GoogleGetAuthorCitationsPerYearChart(ctx context.Context) ApiGoogleGetAuthorCitationsPerYearChartRequest {
	return ApiGoogleGetAuthorCitationsPerYearChartRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetAuthorCitationsPerYearChartExecute(r ApiGoogleGetAuthorCitationsPerYearChartRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetAuthorCitationsPerYearChart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/scholar/author/citation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorId == nil {
		return localVarReturnValue, nil, reportError("authorId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "author_id", r.authorId, "form", "")
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGetBusinessPostsRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	dataId *string
	nextPageToken *string
}

// Maps data ID
func (r ApiGoogleGetBusinessPostsRequest) DataId(dataId string) ApiGoogleGetBusinessPostsRequest {
	r.dataId = &dataId
	return r
}

func (r ApiGoogleGetBusinessPostsRequest) NextPageToken(nextPageToken string) ApiGoogleGetBusinessPostsRequest {
	r.nextPageToken = &nextPageToken
	return r
}

func (r ApiGoogleGetBusinessPostsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetBusinessPostsExecute(r)
}

/*
GoogleGetBusinessPosts Get business posts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetBusinessPostsRequest
*/
func (a *GoogleAPIService) GoogleGetBusinessPosts(ctx context.Context) ApiGoogleGetBusinessPostsRequest {
	return ApiGoogleGetBusinessPostsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetBusinessPostsExecute(r ApiGoogleGetBusinessPostsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetBusinessPosts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/maps/posts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataId == nil {
		return localVarReturnValue, nil, reportError("dataId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "data_id", r.dataId, "form", "")
	if r.nextPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_page_token", r.nextPageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGetCitationFormatsForAScholarPaperRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	q *string
	hl *string
}

// Cluster ID from a search result
func (r ApiGoogleGetCitationFormatsForAScholarPaperRequest) Q(q string) ApiGoogleGetCitationFormatsForAScholarPaperRequest {
	r.q = &q
	return r
}

// Language code
func (r ApiGoogleGetCitationFormatsForAScholarPaperRequest) Hl(hl string) ApiGoogleGetCitationFormatsForAScholarPaperRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGetCitationFormatsForAScholarPaperRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetCitationFormatsForAScholarPaperExecute(r)
}

/*
GoogleGetCitationFormatsForAScholarPaper Get citation formats for a Scholar paper

Return MLA, APA, Chicago, Harvard, and Vancouver citation formats for a paper.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetCitationFormatsForAScholarPaperRequest
*/
func (a *GoogleAPIService) GoogleGetCitationFormatsForAScholarPaper(ctx context.Context) ApiGoogleGetCitationFormatsForAScholarPaperRequest {
	return ApiGoogleGetCitationFormatsForAScholarPaperRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetCitationFormatsForAScholarPaperExecute(r ApiGoogleGetCitationFormatsForAScholarPaperRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetCitationFormatsForAScholarPaper")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/scholar/cite"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGetPlaceDetailsRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	placeId *string
	dataId *string
	hl *string
	gl *string
}

func (r ApiGoogleGetPlaceDetailsRequest) PlaceId(placeId string) ApiGoogleGetPlaceDetailsRequest {
	r.placeId = &placeId
	return r
}

func (r ApiGoogleGetPlaceDetailsRequest) DataId(dataId string) ApiGoogleGetPlaceDetailsRequest {
	r.dataId = &dataId
	return r
}

func (r ApiGoogleGetPlaceDetailsRequest) Hl(hl string) ApiGoogleGetPlaceDetailsRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGetPlaceDetailsRequest) Gl(gl string) ApiGoogleGetPlaceDetailsRequest {
	r.gl = &gl
	return r
}

func (r ApiGoogleGetPlaceDetailsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetPlaceDetailsExecute(r)
}

/*
GoogleGetPlaceDetails Get place details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetPlaceDetailsRequest
*/
func (a *GoogleAPIService) GoogleGetPlaceDetails(ctx context.Context) ApiGoogleGetPlaceDetailsRequest {
	return ApiGoogleGetPlaceDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetPlaceDetailsExecute(r ApiGoogleGetPlaceDetailsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetPlaceDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/maps/place"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.placeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "place_id", r.placeId, "form", "")
	}
	if r.dataId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_id", r.dataId, "form", "")
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGetPlacePhotosRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	dataId *string
	hl *string
	nextPageToken *string
}

// Maps data ID
func (r ApiGoogleGetPlacePhotosRequest) DataId(dataId string) ApiGoogleGetPlacePhotosRequest {
	r.dataId = &dataId
	return r
}

func (r ApiGoogleGetPlacePhotosRequest) Hl(hl string) ApiGoogleGetPlacePhotosRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGetPlacePhotosRequest) NextPageToken(nextPageToken string) ApiGoogleGetPlacePhotosRequest {
	r.nextPageToken = &nextPageToken
	return r
}

func (r ApiGoogleGetPlacePhotosRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetPlacePhotosExecute(r)
}

/*
GoogleGetPlacePhotos Get place photos

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetPlacePhotosRequest
*/
func (a *GoogleAPIService) GoogleGetPlacePhotos(ctx context.Context) ApiGoogleGetPlacePhotosRequest {
	return ApiGoogleGetPlacePhotosRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetPlacePhotosExecute(r ApiGoogleGetPlacePhotosRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetPlacePhotos")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/maps/photos"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataId == nil {
		return localVarReturnValue, nil, reportError("dataId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "data_id", r.dataId, "form", "")
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.nextPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_page_token", r.nextPageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGetPlaceReviewsRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	dataId *string
	sortBy *string
	hl *string
	nextPageToken *string
	results *int32
}

// Maps data ID
func (r ApiGoogleGetPlaceReviewsRequest) DataId(dataId string) ApiGoogleGetPlaceReviewsRequest {
	r.dataId = &dataId
	return r
}

// qualityScore | newestFirst | ratingHigh | ratingLow
func (r ApiGoogleGetPlaceReviewsRequest) SortBy(sortBy string) ApiGoogleGetPlaceReviewsRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiGoogleGetPlaceReviewsRequest) Hl(hl string) ApiGoogleGetPlaceReviewsRequest {
	r.hl = &hl
	return r
}

// Cursor from the previous response&#39;s pagination.next; omit for page 1.
func (r ApiGoogleGetPlaceReviewsRequest) NextPageToken(nextPageToken string) ApiGoogleGetPlaceReviewsRequest {
	r.nextPageToken = &nextPageToken
	return r
}

func (r ApiGoogleGetPlaceReviewsRequest) Results(results int32) ApiGoogleGetPlaceReviewsRequest {
	r.results = &results
	return r
}

func (r ApiGoogleGetPlaceReviewsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetPlaceReviewsExecute(r)
}

/*
GoogleGetPlaceReviews Get place reviews

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetPlaceReviewsRequest
*/
func (a *GoogleAPIService) GoogleGetPlaceReviews(ctx context.Context) ApiGoogleGetPlaceReviewsRequest {
	return ApiGoogleGetPlaceReviewsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetPlaceReviewsExecute(r ApiGoogleGetPlaceReviewsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetPlaceReviews")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/maps/reviews"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataId == nil {
		return localVarReturnValue, nil, reportError("dataId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "data_id", r.dataId, "form", "")
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
		var defaultValue string = "qualityScore"
		r.sortBy = &defaultValue
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.nextPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_page_token", r.nextPageToken, "form", "")
	}
	if r.results != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "results", r.results, "form", "")
	} else {
		var defaultValue int32 = 10
		r.results = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGetScholarAuthorProfileRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	authorId *string
	hl *string
	cstart *int32
	pagesize *int32
}

// Scholar user ID (the &#x60;user&#x60; query parameter)
func (r ApiGoogleGetScholarAuthorProfileRequest) AuthorId(authorId string) ApiGoogleGetScholarAuthorProfileRequest {
	r.authorId = &authorId
	return r
}

// Language code
func (r ApiGoogleGetScholarAuthorProfileRequest) Hl(hl string) ApiGoogleGetScholarAuthorProfileRequest {
	r.hl = &hl
	return r
}

// Articles pagination offset
func (r ApiGoogleGetScholarAuthorProfileRequest) Cstart(cstart int32) ApiGoogleGetScholarAuthorProfileRequest {
	r.cstart = &cstart
	return r
}

// Articles per page
func (r ApiGoogleGetScholarAuthorProfileRequest) Pagesize(pagesize int32) ApiGoogleGetScholarAuthorProfileRequest {
	r.pagesize = &pagesize
	return r
}

func (r ApiGoogleGetScholarAuthorProfileRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetScholarAuthorProfileExecute(r)
}

/*
GoogleGetScholarAuthorProfile Get Scholar author profile

Get detailed Google Scholar author profile including articles, stats, co-authors.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetScholarAuthorProfileRequest
*/
func (a *GoogleAPIService) GoogleGetScholarAuthorProfile(ctx context.Context) ApiGoogleGetScholarAuthorProfileRequest {
	return ApiGoogleGetScholarAuthorProfileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetScholarAuthorProfileExecute(r ApiGoogleGetScholarAuthorProfileRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetScholarAuthorProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/scholar/author"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorId == nil {
		return localVarReturnValue, nil, reportError("authorId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "author_id", r.authorId, "form", "")
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.cstart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cstart", r.cstart, "form", "")
	} else {
		var defaultValue int32 = 0
		r.cstart = &defaultValue
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	} else {
		var defaultValue int32 = 20
		r.pagesize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGetStockIndexQuoteRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	q *string
	hl *string
}

// Ticker and exchange (e.g. \&quot;AAPL:NASDAQ\&quot;, \&quot;BTC-USD\&quot;)
func (r ApiGoogleGetStockIndexQuoteRequest) Q(q string) ApiGoogleGetStockIndexQuoteRequest {
	r.q = &q
	return r
}

// Language code
func (r ApiGoogleGetStockIndexQuoteRequest) Hl(hl string) ApiGoogleGetStockIndexQuoteRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGetStockIndexQuoteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGetStockIndexQuoteExecute(r)
}

/*
GoogleGetStockIndexQuote Get stock/index quote

Get a stock or index quote from Google Finance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGetStockIndexQuoteRequest
*/
func (a *GoogleAPIService) GoogleGetStockIndexQuote(ctx context.Context) ApiGoogleGetStockIndexQuoteRequest {
	return ApiGoogleGetStockIndexQuoteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGetStockIndexQuoteExecute(r ApiGoogleGetStockIndexQuoteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGetStockIndexQuote")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/finance/quote"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleAiModeSearchRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	q *string
	gl *string
	hl *string
	includeHtml *bool
}

// Search query for AI-generated response
func (r ApiGoogleGoogleAiModeSearchRequest) Q(q string) ApiGoogleGoogleAiModeSearchRequest {
	r.q = &q
	return r
}

// Country code
func (r ApiGoogleGoogleAiModeSearchRequest) Gl(gl string) ApiGoogleGoogleAiModeSearchRequest {
	r.gl = &gl
	return r
}

// Language code
func (r ApiGoogleGoogleAiModeSearchRequest) Hl(hl string) ApiGoogleGoogleAiModeSearchRequest {
	r.hl = &hl
	return r
}

// Include the raw &#x60;answer_html&#x60; (full answer body HTML) in the response for maximum parity. It can be 100s of KB — set false when you only need the structured &#x60;text_blocks&#x60; + &#x60;markdown&#x60;.
func (r ApiGoogleGoogleAiModeSearchRequest) IncludeHtml(includeHtml bool) ApiGoogleGoogleAiModeSearchRequest {
	r.includeHtml = &includeHtml
	return r
}

func (r ApiGoogleGoogleAiModeSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleAiModeSearchExecute(r)
}

/*
GoogleGoogleAiModeSearch Google AI Mode search

Get AI-generated search results from Google AI Mode.

Returns the structured `text_blocks` (paragraphs, headings, comparison
`table` blocks and lists), a flat `references` source list, a compact
`markdown` rendering of the whole answer and — unless `include_html`
is false — the raw `answer_html` body.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleAiModeSearchRequest
*/
func (a *GoogleAPIService) GoogleGoogleAiModeSearch(ctx context.Context) ApiGoogleGoogleAiModeSearchRequest {
	return ApiGoogleGoogleAiModeSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleAiModeSearchExecute(r ApiGoogleGoogleAiModeSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleAiModeSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/ai-mode/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.includeHtml != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_html", r.includeHtml, "form", "")
	} else {
		var defaultValue bool = true
		r.includeHtml = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleAiOverviewInlineSerpBlockRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	q *string
	gl *string
	hl *string
}

// Search query — same shape as a Google Search query
func (r ApiGoogleGoogleAiOverviewInlineSerpBlockRequest) Q(q string) ApiGoogleGoogleAiOverviewInlineSerpBlockRequest {
	r.q = &q
	return r
}

// Country code
func (r ApiGoogleGoogleAiOverviewInlineSerpBlockRequest) Gl(gl string) ApiGoogleGoogleAiOverviewInlineSerpBlockRequest {
	r.gl = &gl
	return r
}

// Language code
func (r ApiGoogleGoogleAiOverviewInlineSerpBlockRequest) Hl(hl string) ApiGoogleGoogleAiOverviewInlineSerpBlockRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGoogleAiOverviewInlineSerpBlockRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleAiOverviewInlineSerpBlockExecute(r)
}

/*
GoogleGoogleAiOverviewInlineSerpBlock Google AI Overview (inline SERP block)

Get the AI Overview block Google renders inline at the top of a SERP.

Deferred overviews (where Google lazy-loads the block via a follow-up
``page_token``) are chased automatically.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleAiOverviewInlineSerpBlockRequest
*/
func (a *GoogleAPIService) GoogleGoogleAiOverviewInlineSerpBlock(ctx context.Context) ApiGoogleGoogleAiOverviewInlineSerpBlockRequest {
	return ApiGoogleGoogleAiOverviewInlineSerpBlockRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleAiOverviewInlineSerpBlockExecute(r ApiGoogleGoogleAiOverviewInlineSerpBlockRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleAiOverviewInlineSerpBlock")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/ai-overview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	departureId *string
	arrivalId *string
	outboundDateFrom *string
	outboundDateTo *string
	tripType *string
	tripLengthDays *int32
	returnDateFrom *string
	returnDateTo *string
	adults *int32
	children *int32
	infantsInSeat *int32
	infantsOnLap *int32
	travelClass *string
	currency *string
	gl *string
	hl *string
}

// Departure airport IATA code or location ID
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) DepartureId(departureId string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.departureId = &departureId
	return r
}

// Arrival airport IATA code or location ID
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) ArrivalId(arrivalId string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.arrivalId = &arrivalId
	return r
}

// First outbound date to price (YYYY-MM-DD)
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) OutboundDateFrom(outboundDateFrom string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.outboundDateFrom = &outboundDateFrom
	return r
}

// Last outbound date to price (YYYY-MM-DD). At most 200 days from outbound_date_from, or 14 in date-grid mode.
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) OutboundDateTo(outboundDateTo string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.outboundDateTo = &outboundDateTo
	return r
}

// one_way | round_trip
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) TripType(tripType string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.tripType = &tripType
	return r
}

// Round-trip stay length in nights (price-graph mode). Defaults to 7.
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) TripLengthDays(tripLengthDays int32) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.tripLengthDays = &tripLengthDays
	return r
}

// Date-grid mode: first return date. With return_date_to, returns the full outbound x return matrix (each range at most 14 days). Round-trip only.
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) ReturnDateFrom(returnDateFrom string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.returnDateFrom = &returnDateFrom
	return r
}

// Date-grid mode: last return date
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) ReturnDateTo(returnDateTo string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.returnDateTo = &returnDateTo
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) Adults(adults int32) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.adults = &adults
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) Children(children int32) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.children = &children
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) InfantsInSeat(infantsInSeat int32) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.infantsInSeat = &infantsInSeat
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) InfantsOnLap(infantsOnLap int32) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.infantsOnLap = &infantsOnLap
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) TravelClass(travelClass string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.travelClass = &travelClass
	return r
}

// ISO-4217 currency
func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) Currency(currency string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.currency = &currency
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) Gl(gl string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.gl = &gl
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) Hl(hl string) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleFlightsCalendarCheapestFarePerDateExecute(r)
}

/*
GoogleGoogleFlightsCalendarCheapestFarePerDate Google Flights calendar — cheapest fare per date

Price a whole range of dates in one call — up to 200 dates per request.

Google Flights' own price graph / date grid: the cheapest fare per departure
date instead of one search per date. Prices match `/flights/search` exactly.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest
*/
func (a *GoogleAPIService) GoogleGoogleFlightsCalendarCheapestFarePerDate(ctx context.Context) ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest {
	return ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleFlightsCalendarCheapestFarePerDateExecute(r ApiGoogleGoogleFlightsCalendarCheapestFarePerDateRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleFlightsCalendarCheapestFarePerDate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/flights/calendar"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.departureId == nil {
		return localVarReturnValue, nil, reportError("departureId is required and must be specified")
	}
	if r.arrivalId == nil {
		return localVarReturnValue, nil, reportError("arrivalId is required and must be specified")
	}
	if r.outboundDateFrom == nil {
		return localVarReturnValue, nil, reportError("outboundDateFrom is required and must be specified")
	}
	if r.outboundDateTo == nil {
		return localVarReturnValue, nil, reportError("outboundDateTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "departure_id", r.departureId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "arrival_id", r.arrivalId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "outbound_date_from", r.outboundDateFrom, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "outbound_date_to", r.outboundDateTo, "form", "")
	if r.tripType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trip_type", r.tripType, "form", "")
	} else {
		var defaultValue string = "one_way"
		r.tripType = &defaultValue
	}
	if r.tripLengthDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trip_length_days", r.tripLengthDays, "form", "")
	}
	if r.returnDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_date_from", r.returnDateFrom, "form", "")
	}
	if r.returnDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_date_to", r.returnDateTo, "form", "")
	}
	if r.adults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adults", r.adults, "form", "")
	} else {
		var defaultValue int32 = 1
		r.adults = &defaultValue
	}
	if r.children != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "children", r.children, "form", "")
	} else {
		var defaultValue int32 = 0
		r.children = &defaultValue
	}
	if r.infantsInSeat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "infants_in_seat", r.infantsInSeat, "form", "")
	} else {
		var defaultValue int32 = 0
		r.infantsInSeat = &defaultValue
	}
	if r.infantsOnLap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "infants_on_lap", r.infantsOnLap, "form", "")
	} else {
		var defaultValue int32 = 0
		r.infantsOnLap = &defaultValue
	}
	if r.travelClass != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "travel_class", r.travelClass, "form", "")
	} else {
		var defaultValue string = "economy"
		r.travelClass = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	} else {
		var defaultValue string = "USD"
		r.currency = &defaultValue
	}
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleFlightsSearchRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	departureId *string
	arrivalId *string
	outboundDate *string
	returnDate *string
	tripType *string
	adults *int32
	children *int32
	infantsInSeat *int32
	infantsOnLap *int32
	travelClass *string
	currency *string
	gl *string
	hl *string
	stops *string
	maxPrice *int32
	departureToken *string
}

// Departure airport IATA code or location ID
func (r ApiGoogleGoogleFlightsSearchRequest) DepartureId(departureId string) ApiGoogleGoogleFlightsSearchRequest {
	r.departureId = &departureId
	return r
}

// Arrival airport IATA code or location ID
func (r ApiGoogleGoogleFlightsSearchRequest) ArrivalId(arrivalId string) ApiGoogleGoogleFlightsSearchRequest {
	r.arrivalId = &arrivalId
	return r
}

// Outbound date (YYYY-MM-DD)
func (r ApiGoogleGoogleFlightsSearchRequest) OutboundDate(outboundDate string) ApiGoogleGoogleFlightsSearchRequest {
	r.outboundDate = &outboundDate
	return r
}

// Return date (round-trip only)
func (r ApiGoogleGoogleFlightsSearchRequest) ReturnDate(returnDate string) ApiGoogleGoogleFlightsSearchRequest {
	r.returnDate = &returnDate
	return r
}

// round_trip | one_way | multi_city
func (r ApiGoogleGoogleFlightsSearchRequest) TripType(tripType string) ApiGoogleGoogleFlightsSearchRequest {
	r.tripType = &tripType
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) Adults(adults int32) ApiGoogleGoogleFlightsSearchRequest {
	r.adults = &adults
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) Children(children int32) ApiGoogleGoogleFlightsSearchRequest {
	r.children = &children
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) InfantsInSeat(infantsInSeat int32) ApiGoogleGoogleFlightsSearchRequest {
	r.infantsInSeat = &infantsInSeat
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) InfantsOnLap(infantsOnLap int32) ApiGoogleGoogleFlightsSearchRequest {
	r.infantsOnLap = &infantsOnLap
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) TravelClass(travelClass string) ApiGoogleGoogleFlightsSearchRequest {
	r.travelClass = &travelClass
	return r
}

// ISO-4217 currency
func (r ApiGoogleGoogleFlightsSearchRequest) Currency(currency string) ApiGoogleGoogleFlightsSearchRequest {
	r.currency = &currency
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) Gl(gl string) ApiGoogleGoogleFlightsSearchRequest {
	r.gl = &gl
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) Hl(hl string) ApiGoogleGoogleFlightsSearchRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) Stops(stops string) ApiGoogleGoogleFlightsSearchRequest {
	r.stops = &stops
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) MaxPrice(maxPrice int32) ApiGoogleGoogleFlightsSearchRequest {
	r.maxPrice = &maxPrice
	return r
}

// A round-trip offer&#39;s departure_token; returns the return-leg flights for that selected outbound (round-trip only).
func (r ApiGoogleGoogleFlightsSearchRequest) DepartureToken(departureToken string) ApiGoogleGoogleFlightsSearchRequest {
	r.departureToken = &departureToken
	return r
}

func (r ApiGoogleGoogleFlightsSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleFlightsSearchExecute(r)
}

/*
GoogleGoogleFlightsSearch Google Flights search

Search Google Flights for available itineraries.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleFlightsSearchRequest
*/
func (a *GoogleAPIService) GoogleGoogleFlightsSearch(ctx context.Context) ApiGoogleGoogleFlightsSearchRequest {
	return ApiGoogleGoogleFlightsSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleFlightsSearchExecute(r ApiGoogleGoogleFlightsSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleFlightsSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/flights/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.departureId == nil {
		return localVarReturnValue, nil, reportError("departureId is required and must be specified")
	}
	if r.arrivalId == nil {
		return localVarReturnValue, nil, reportError("arrivalId is required and must be specified")
	}
	if r.outboundDate == nil {
		return localVarReturnValue, nil, reportError("outboundDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "departure_id", r.departureId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "arrival_id", r.arrivalId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "outbound_date", r.outboundDate, "form", "")
	if r.returnDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_date", r.returnDate, "form", "")
	}
	if r.tripType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trip_type", r.tripType, "form", "")
	} else {
		var defaultValue string = "round_trip"
		r.tripType = &defaultValue
	}
	if r.adults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adults", r.adults, "form", "")
	} else {
		var defaultValue int32 = 1
		r.adults = &defaultValue
	}
	if r.children != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "children", r.children, "form", "")
	} else {
		var defaultValue int32 = 0
		r.children = &defaultValue
	}
	if r.infantsInSeat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "infants_in_seat", r.infantsInSeat, "form", "")
	} else {
		var defaultValue int32 = 0
		r.infantsInSeat = &defaultValue
	}
	if r.infantsOnLap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "infants_on_lap", r.infantsOnLap, "form", "")
	} else {
		var defaultValue int32 = 0
		r.infantsOnLap = &defaultValue
	}
	if r.travelClass != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "travel_class", r.travelClass, "form", "")
	} else {
		var defaultValue string = "economy"
		r.travelClass = &defaultValue
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	} else {
		var defaultValue string = "USD"
		r.currency = &defaultValue
	}
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.stops != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stops", r.stops, "form", "")
	} else {
		var defaultValue string = "any"
		r.stops = &defaultValue
	}
	if r.maxPrice != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_price", r.maxPrice, "form", "")
	}
	if r.departureToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "departure_token", r.departureToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleLensVisualSearchRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	url *string
	query *string
	country *string
	language *string
	gl *string
	hl *string
	product *bool
	visualMatches *bool
	exactMatches *bool
}

// Public URL of the image to search visually
func (r ApiGoogleGoogleLensVisualSearchRequest) Url(url string) ApiGoogleGoogleLensVisualSearchRequest {
	r.url = &url
	return r
}

// Optional text refinement (e.g. &#39;pizza&#39;)
func (r ApiGoogleGoogleLensVisualSearchRequest) Query(query string) ApiGoogleGoogleLensVisualSearchRequest {
	r.query = &query
	return r
}

// ISO country code (alias for gl)
func (r ApiGoogleGoogleLensVisualSearchRequest) Country(country string) ApiGoogleGoogleLensVisualSearchRequest {
	r.country = &country
	return r
}

// Language code (alias for hl)
func (r ApiGoogleGoogleLensVisualSearchRequest) Language(language string) ApiGoogleGoogleLensVisualSearchRequest {
	r.language = &language
	return r
}

// Country code
func (r ApiGoogleGoogleLensVisualSearchRequest) Gl(gl string) ApiGoogleGoogleLensVisualSearchRequest {
	r.gl = &gl
	return r
}

// Language code
func (r ApiGoogleGoogleLensVisualSearchRequest) Hl(hl string) ApiGoogleGoogleLensVisualSearchRequest {
	r.hl = &hl
	return r
}

// Bias towards shoppable product matches
func (r ApiGoogleGoogleLensVisualSearchRequest) Product(product bool) ApiGoogleGoogleLensVisualSearchRequest {
	r.product = &product
	return r
}

// Include the visual-matches carousel
func (r ApiGoogleGoogleLensVisualSearchRequest) VisualMatches(visualMatches bool) ApiGoogleGoogleLensVisualSearchRequest {
	r.visualMatches = &visualMatches
	return r
}

// Restrict to exact-match results
func (r ApiGoogleGoogleLensVisualSearchRequest) ExactMatches(exactMatches bool) ApiGoogleGoogleLensVisualSearchRequest {
	r.exactMatches = &exactMatches
	return r
}

func (r ApiGoogleGoogleLensVisualSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleLensVisualSearchExecute(r)
}

/*
GoogleGoogleLensVisualSearch Google Lens visual search

Google Lens visual search.

Response carries ``lens_results`` (Scrapingdog parity alias) with
``title`` / ``source`` / ``source_favicon`` / ``thumbnail`` /
``original_thumbnail`` / ``rating`` / ``reviews`` / ``in_stock``, plus
``price`` (``{value, currency, extracted}``) and the raw ``tag`` chip it
is parsed from, on shoppable matches. ``related_searches`` chips come
alongside. Legacy ``results`` alias kept for backwards compat.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleLensVisualSearchRequest
*/
func (a *GoogleAPIService) GoogleGoogleLensVisualSearch(ctx context.Context) ApiGoogleGoogleLensVisualSearchRequest {
	return ApiGoogleGoogleLensVisualSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleLensVisualSearchExecute(r ApiGoogleGoogleLensVisualSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleLensVisualSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/lens/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.url == nil {
		return localVarReturnValue, nil, reportError("url is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.product != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product", r.product, "form", "")
	} else {
		var defaultValue bool = false
		r.product = &defaultValue
	}
	if r.visualMatches != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visual_matches", r.visualMatches, "form", "")
	} else {
		var defaultValue bool = true
		r.visualMatches = &defaultValue
	}
	if r.exactMatches != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exact_matches", r.exactMatches, "form", "")
	} else {
		var defaultValue bool = false
		r.exactMatches = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
}

func (r ApiGoogleGoogleScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleScraperHealthCheckExecute(r)
}

/*
GoogleGoogleScraperHealthCheck Google scraper health check

Check health of the Google scraper service.

Accepts ``HEAD`` so external uptime checkers (UptimeRobot uses HEAD
by default for HTTP monitors) don't get a 405 Method Not Allowed.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleScraperHealthCheckRequest
*/
func (a *GoogleAPIService) GoogleGoogleScraperHealthCheck(ctx context.Context) ApiGoogleGoogleScraperHealthCheckRequest {
	return ApiGoogleGoogleScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleScraperHealthCheckExecute(r ApiGoogleGoogleScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
}

func (r ApiGoogleGoogleScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleScraperHealthCheckHeadExecute(r)
}

/*
GoogleGoogleScraperHealthCheckHead Google scraper health check

Check health of the Google scraper service.

Accepts ``HEAD`` so external uptime checkers (UptimeRobot uses HEAD
by default for HTTP monitors) don't get a 405 Method Not Allowed.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleScraperHealthCheckHeadRequest
*/
func (a *GoogleAPIService) GoogleGoogleScraperHealthCheckHead(ctx context.Context) ApiGoogleGoogleScraperHealthCheckHeadRequest {
	return ApiGoogleGoogleScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleScraperHealthCheckHeadExecute(r ApiGoogleGoogleScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleSearchSuggestionsRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	q *string
	hl *string
	gl *string
}

// Search query to get suggestions for
func (r ApiGoogleGoogleSearchSuggestionsRequest) Q(q string) ApiGoogleGoogleSearchSuggestionsRequest {
	r.q = &q
	return r
}

// Language code
func (r ApiGoogleGoogleSearchSuggestionsRequest) Hl(hl string) ApiGoogleGoogleSearchSuggestionsRequest {
	r.hl = &hl
	return r
}

// Country code
func (r ApiGoogleGoogleSearchSuggestionsRequest) Gl(gl string) ApiGoogleGoogleSearchSuggestionsRequest {
	r.gl = &gl
	return r
}

func (r ApiGoogleGoogleSearchSuggestionsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleSearchSuggestionsExecute(r)
}

/*
GoogleGoogleSearchSuggestions Google search suggestions

Get Google search autocomplete suggestions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleSearchSuggestionsRequest
*/
func (a *GoogleAPIService) GoogleGoogleSearchSuggestions(ctx context.Context) ApiGoogleGoogleSearchSuggestionsRequest {
	return ApiGoogleGoogleSearchSuggestionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleSearchSuggestionsExecute(r ApiGoogleGoogleSearchSuggestionsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleSearchSuggestions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/autocomplete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleShortsSearchRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	q *string
	gl *string
	hl *string
	domain *string
	num *int32
	start *int32
}

// Search query
func (r ApiGoogleGoogleShortsSearchRequest) Q(q string) ApiGoogleGoogleShortsSearchRequest {
	r.q = &q
	return r
}

// Country code
func (r ApiGoogleGoogleShortsSearchRequest) Gl(gl string) ApiGoogleGoogleShortsSearchRequest {
	r.gl = &gl
	return r
}

// Language code
func (r ApiGoogleGoogleShortsSearchRequest) Hl(hl string) ApiGoogleGoogleShortsSearchRequest {
	r.hl = &hl
	return r
}

// Google domain
func (r ApiGoogleGoogleShortsSearchRequest) Domain(domain string) ApiGoogleGoogleShortsSearchRequest {
	r.domain = &domain
	return r
}

// Results per page
func (r ApiGoogleGoogleShortsSearchRequest) Num(num int32) ApiGoogleGoogleShortsSearchRequest {
	r.num = &num
	return r
}

// Pagination offset
func (r ApiGoogleGoogleShortsSearchRequest) Start(start int32) ApiGoogleGoogleShortsSearchRequest {
	r.start = &start
	return r
}

func (r ApiGoogleGoogleShortsSearchRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GoogleGoogleShortsSearchExecute(r)
}

/*
GoogleGoogleShortsSearch Google Shorts search

Return short-form video results (YouTube Shorts, TikToks) from Google Shorts mode.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGoogleGoogleShortsSearchRequest
*/
func (a *GoogleAPIService) GoogleGoogleShortsSearch(ctx context.Context) ApiGoogleGoogleShortsSearchRequest {
	return ApiGoogleGoogleShortsSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *GoogleAPIService) GoogleGoogleShortsSearchExecute(r ApiGoogleGoogleShortsSearchRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GoogleAPIService.GoogleGoogleShortsSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/google/shorts/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.gl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gl", r.gl, "form", "")
	} else {
		var defaultValue string = "us"
		r.gl = &defaultValue
	}
	if r.hl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hl", r.hl, "form", "")
	} else {
		var defaultValue string = "en"
		r.hl = &defaultValue
	}
	if r.domain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "form", "")
	} else {
		var defaultValue string = "google.com"
		r.domain = &defaultValue
	}
	if r.num != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "num", r.num, "form", "")
	} else {
		var defaultValue int32 = 20
		r.num = &defaultValue
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		r.start = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGoogleGoogleWebSearchRequest struct {
	ctx context.Context
	ApiService *GoogleAPIService
	q *string
	gl *string
	hl *string
	num *int32
	start *int32
	domain *string
	device *string
	userAgent *string
	output *string
	location *string
	lr *string
	tbs *string
	safe *string
	uule *string
	filter *int32
	nfpr *int32
	cr *string
	ludocid *string
	lsig *string
	kgmid *string
	si *string
	ibp *string
	uds *string
	aiOverview *bool
}

// Search query (supports Google operators)
func (r ApiGoogleGoogleWebSearchRequest) Q(q string) ApiGoogleGoogleWebSearchRequest {
	r.q = &q
	return r
}

// Country code
func (r ApiGoogleGoogleWebSearchRequest) Gl(gl string) ApiGoogleGoogleWebSearchRequest {
	r.gl = &gl
	return r
}

// Language code
func (r ApiGoogleGoogleWebSearchRequest) Hl(hl string) ApiGoogleGoogleWebSearchRequest {
	r.hl = &hl
	return r
}

func (r ApiGoogleGoogleWebSearchRequest) Num(num int32) ApiGoogleGoogleWebSearchRequest {
	r.num = &num
	return r
}

// Page offset (0, 10, 20...)
func (r ApiGoogleGoogleWebSearchRequest) Start(start int32) ApiGoogleGoogleWebSearchRequest {
[...]
