/*
ScrapeBadger API

Unified credit-based scraping API. https://docs.scrapebadger.com

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package scrapebadger

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ImmobiliareAPIService ImmobiliareAPI service
type ImmobiliareAPIService service

type ApiImmobiliareGetAgencyProfileRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
	agencyId int32
	market *string
}

// it | es | gr | lu
func (r ApiImmobiliareGetAgencyProfileRequest) Market(market string) ApiImmobiliareGetAgencyProfileRequest {
	r.market = &market
	return r
}

func (r ApiImmobiliareGetAgencyProfileRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareGetAgencyProfileExecute(r)
}

/*
ImmobiliareGetAgencyProfile Get agency profile

Public agency/advertiser profile.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agencyId
 @return ApiImmobiliareGetAgencyProfileRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareGetAgencyProfile(ctx context.Context, agencyId int32) ApiImmobiliareGetAgencyProfileRequest {
	return ApiImmobiliareGetAgencyProfileRequest{
		ApiService: a,
		ctx: ctx,
		agencyId: agencyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareGetAgencyProfileExecute(r ApiImmobiliareGetAgencyProfileRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareGetAgencyProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/agencies/{agency_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"agency_id"+"}", url.PathEscape(parameterValueToString(r.agencyId, "agencyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "it"
		r.market = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareGetAnAgencySListingsRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
	agencyId int32
	market *string
	contract *string
	page *int32
}

// it | es | gr | lu
func (r ApiImmobiliareGetAnAgencySListingsRequest) Market(market string) ApiImmobiliareGetAnAgencySListingsRequest {
	r.market = &market
	return r
}

// sale | rent
func (r ApiImmobiliareGetAnAgencySListingsRequest) Contract(contract string) ApiImmobiliareGetAnAgencySListingsRequest {
	r.contract = &contract
	return r
}

func (r ApiImmobiliareGetAnAgencySListingsRequest) Page(page int32) ApiImmobiliareGetAnAgencySListingsRequest {
	r.page = &page
	return r
}

func (r ApiImmobiliareGetAnAgencySListingsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareGetAnAgencySListingsExecute(r)
}

/*
ImmobiliareGetAnAgencySListings Get an agency's listings

An agency's active listings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agencyId
 @return ApiImmobiliareGetAnAgencySListingsRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareGetAnAgencySListings(ctx context.Context, agencyId int32) ApiImmobiliareGetAnAgencySListingsRequest {
	return ApiImmobiliareGetAnAgencySListingsRequest{
		ApiService: a,
		ctx: ctx,
		agencyId: agencyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareGetAnAgencySListingsExecute(r ApiImmobiliareGetAnAgencySListingsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareGetAnAgencySListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/agencies/{agency_id}/listings"
	localVarPath = strings.Replace(localVarPath, "{"+"agency_id"+"}", url.PathEscape(parameterValueToString(r.agencyId, "agencyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "it"
		r.market = &defaultValue
	}
	if r.contract != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contract", r.contract, "form", "")
	} else {
		var defaultValue string = "sale"
		r.contract = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareGetListingDetailRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
	listingId int32
	market *string
}

// it | es | gr | lu
func (r ApiImmobiliareGetListingDetailRequest) Market(market string) ApiImmobiliareGetListingDetailRequest {
	r.market = &market
	return r
}

func (r ApiImmobiliareGetListingDetailRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareGetListingDetailExecute(r)
}

/*
ImmobiliareGetListingDetail Get listing detail

Full detail for a single listing.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param listingId
 @return ApiImmobiliareGetListingDetailRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareGetListingDetail(ctx context.Context, listingId int32) ApiImmobiliareGetListingDetailRequest {
	return ApiImmobiliareGetListingDetailRequest{
		ApiService: a,
		ctx: ctx,
		listingId: listingId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareGetListingDetailExecute(r ApiImmobiliareGetListingDetailRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareGetListingDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/listings/{listing_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"listing_id"+"}", url.PathEscape(parameterValueToString(r.listingId, "listingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "it"
		r.market = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareImmobiliareScraperHealthCheckRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
}

func (r ApiImmobiliareImmobiliareScraperHealthCheckRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareImmobiliareScraperHealthCheckExecute(r)
}

/*
ImmobiliareImmobiliareScraperHealthCheck Immobiliare scraper health check

Check health of the Immobiliare scraper service (accepts HEAD).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImmobiliareImmobiliareScraperHealthCheckRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareImmobiliareScraperHealthCheck(ctx context.Context) ApiImmobiliareImmobiliareScraperHealthCheckRequest {
	return ApiImmobiliareImmobiliareScraperHealthCheckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareImmobiliareScraperHealthCheckExecute(r ApiImmobiliareImmobiliareScraperHealthCheckRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareImmobiliareScraperHealthCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareImmobiliareScraperHealthCheckHeadRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
}

func (r ApiImmobiliareImmobiliareScraperHealthCheckHeadRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareImmobiliareScraperHealthCheckHeadExecute(r)
}

/*
ImmobiliareImmobiliareScraperHealthCheckHead Immobiliare scraper health check

Check health of the Immobiliare scraper service (accepts HEAD).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImmobiliareImmobiliareScraperHealthCheckHeadRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareImmobiliareScraperHealthCheckHead(ctx context.Context) ApiImmobiliareImmobiliareScraperHealthCheckHeadRequest {
	return ApiImmobiliareImmobiliareScraperHealthCheckHeadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareImmobiliareScraperHealthCheckHeadExecute(r ApiImmobiliareImmobiliareScraperHealthCheckHeadRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareImmobiliareScraperHealthCheckHead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/health"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareListFilterEnumsRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
}

func (r ApiImmobiliareListFilterEnumsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareListFilterEnumsExecute(r)
}

/*
ImmobiliareListFilterEnums List filter enums

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImmobiliareListFilterEnumsRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareListFilterEnums(ctx context.Context) ApiImmobiliareListFilterEnumsRequest {
	return ApiImmobiliareListFilterEnumsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareListFilterEnumsExecute(r ApiImmobiliareListFilterEnumsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareListFilterEnums")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/reference"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareListMarketsRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
}

func (r ApiImmobiliareListMarketsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareListMarketsExecute(r)
}

/*
ImmobiliareListMarkets List markets

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImmobiliareListMarketsRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareListMarkets(ctx context.Context) ApiImmobiliareListMarketsRequest {
	return ApiImmobiliareListMarketsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareListMarketsExecute(r ApiImmobiliareListMarketsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareListMarkets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/markets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareLocationAutocompleteRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
	query *string
	market *string
}

// Free-text place name, e.g. &#39;Milano&#39;
func (r ApiImmobiliareLocationAutocompleteRequest) Query(query string) ApiImmobiliareLocationAutocompleteRequest {
	r.query = &query
	return r
}

// it | es | gr | lu
func (r ApiImmobiliareLocationAutocompleteRequest) Market(market string) ApiImmobiliareLocationAutocompleteRequest {
	r.market = &market
	return r
}

func (r ApiImmobiliareLocationAutocompleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareLocationAutocompleteExecute(r)
}

/*
ImmobiliareLocationAutocomplete Location autocomplete

Resolve a place name to region/province/city ids usable in search.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImmobiliareLocationAutocompleteRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareLocationAutocomplete(ctx context.Context) ApiImmobiliareLocationAutocompleteRequest {
	return ApiImmobiliareLocationAutocompleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareLocationAutocompleteExecute(r ApiImmobiliareLocationAutocompleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareLocationAutocomplete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/autocomplete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "it"
		r.market = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliarePriceMTimeSeriesRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
	regionId *string
	market *string
	provinceId *string
	cityId *string
	contract *string
}

// Region id, e.g. &#39;lom&#39;
func (r ApiImmobiliarePriceMTimeSeriesRequest) RegionId(regionId string) ApiImmobiliarePriceMTimeSeriesRequest {
	r.regionId = &regionId
	return r
}

// it | es | gr | lu
func (r ApiImmobiliarePriceMTimeSeriesRequest) Market(market string) ApiImmobiliarePriceMTimeSeriesRequest {
	r.market = &market
	return r
}

// Province id, e.g. &#39;MI&#39;
func (r ApiImmobiliarePriceMTimeSeriesRequest) ProvinceId(provinceId string) ApiImmobiliarePriceMTimeSeriesRequest {
	r.provinceId = &provinceId
	return r
}

// City id (idComune)
func (r ApiImmobiliarePriceMTimeSeriesRequest) CityId(cityId string) ApiImmobiliarePriceMTimeSeriesRequest {
	r.cityId = &cityId
	return r
}

// sale | rent
func (r ApiImmobiliarePriceMTimeSeriesRequest) Contract(contract string) ApiImmobiliarePriceMTimeSeriesRequest {
	r.contract = &contract
	return r
}

func (r ApiImmobiliarePriceMTimeSeriesRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliarePriceMTimeSeriesExecute(r)
}

/*
ImmobiliarePriceMTimeSeries Price €/m² time series

Historical €/m² price statistics for an area.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImmobiliarePriceMTimeSeriesRequest
*/
func (a *ImmobiliareAPIService) ImmobiliarePriceMTimeSeries(ctx context.Context) ApiImmobiliarePriceMTimeSeriesRequest {
	return ApiImmobiliarePriceMTimeSeriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliarePriceMTimeSeriesExecute(r ApiImmobiliarePriceMTimeSeriesRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliarePriceMTimeSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/market-insights/prices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.regionId == nil {
		return localVarReturnValue, nil, reportError("regionId is required and must be specified")
	}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "it"
		r.market = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "region_id", r.regionId, "form", "")
	if r.provinceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "province_id", r.provinceId, "form", "")
	}
	if r.cityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city_id", r.cityId, "form", "")
	}
	if r.contract != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contract", r.contract, "form", "")
	} else {
		var defaultValue string = "sale"
		r.contract = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImmobiliareSearchListingsRequest struct {
	ctx context.Context
	ApiService *ImmobiliareAPIService
	market *string
	location *string
	regionId *string
	provinceId *string
	cityId *string
	contract *string
	category *string
	priceMin *int32
	priceMax *int32
	surfaceMin *int32
	surfaceMax *int32
	roomsMin *int32
	roomsMax *int32
	bathroomsMin *int32
	sort *string
	page *int32
}

// it | es | gr | lu
func (r ApiImmobiliareSearchListingsRequest) Market(market string) ApiImmobiliareSearchListingsRequest {
	r.market = &market
	return r
}

// Free-text place (auto-resolved)
func (r ApiImmobiliareSearchListingsRequest) Location(location string) ApiImmobiliareSearchListingsRequest {
	r.location = &location
	return r
}

// fkRegione (from /autocomplete)
func (r ApiImmobiliareSearchListingsRequest) RegionId(regionId string) ApiImmobiliareSearchListingsRequest {
	r.regionId = &regionId
	return r
}

// idProvincia (from /autocomplete)
func (r ApiImmobiliareSearchListingsRequest) ProvinceId(provinceId string) ApiImmobiliareSearchListingsRequest {
	r.provinceId = &provinceId
	return r
}

// idComune (from /autocomplete)
func (r ApiImmobiliareSearchListingsRequest) CityId(cityId string) ApiImmobiliareSearchListingsRequest {
	r.cityId = &cityId
	return r
}

// sale | rent
func (r ApiImmobiliareSearchListingsRequest) Contract(contract string) ApiImmobiliareSearchListingsRequest {
	r.contract = &contract
	return r
}

// see /reference
func (r ApiImmobiliareSearchListingsRequest) Category(category string) ApiImmobiliareSearchListingsRequest {
	r.category = &category
	return r
}

func (r ApiImmobiliareSearchListingsRequest) PriceMin(priceMin int32) ApiImmobiliareSearchListingsRequest {
	r.priceMin = &priceMin
	return r
}

func (r ApiImmobiliareSearchListingsRequest) PriceMax(priceMax int32) ApiImmobiliareSearchListingsRequest {
	r.priceMax = &priceMax
	return r
}

func (r ApiImmobiliareSearchListingsRequest) SurfaceMin(surfaceMin int32) ApiImmobiliareSearchListingsRequest {
	r.surfaceMin = &surfaceMin
	return r
}

func (r ApiImmobiliareSearchListingsRequest) SurfaceMax(surfaceMax int32) ApiImmobiliareSearchListingsRequest {
	r.surfaceMax = &surfaceMax
	return r
}

func (r ApiImmobiliareSearchListingsRequest) RoomsMin(roomsMin int32) ApiImmobiliareSearchListingsRequest {
	r.roomsMin = &roomsMin
	return r
}

func (r ApiImmobiliareSearchListingsRequest) RoomsMax(roomsMax int32) ApiImmobiliareSearchListingsRequest {
	r.roomsMax = &roomsMax
	return r
}

func (r ApiImmobiliareSearchListingsRequest) BathroomsMin(bathroomsMin int32) ApiImmobiliareSearchListingsRequest {
	r.bathroomsMin = &bathroomsMin
	return r
}

// see /reference
func (r ApiImmobiliareSearchListingsRequest) Sort(sort string) ApiImmobiliareSearchListingsRequest {
	r.sort = &sort
	return r
}

func (r ApiImmobiliareSearchListingsRequest) Page(page int32) ApiImmobiliareSearchListingsRequest {
	r.page = &page
	return r
}

func (r ApiImmobiliareSearchListingsRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ImmobiliareSearchListingsExecute(r)
}

/*
ImmobiliareSearchListings Search listings

Search Immobiliare-group listings (scope by location + contract + filters).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiImmobiliareSearchListingsRequest
*/
func (a *ImmobiliareAPIService) ImmobiliareSearchListings(ctx context.Context) ApiImmobiliareSearchListingsRequest {
	return ApiImmobiliareSearchListingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ImmobiliareAPIService) ImmobiliareSearchListingsExecute(r ApiImmobiliareSearchListingsRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImmobiliareAPIService.ImmobiliareSearchListings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/immobiliare/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.market != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "market", r.market, "form", "")
	} else {
		var defaultValue string = "it"
		r.market = &defaultValue
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.regionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region_id", r.regionId, "form", "")
	}
	if r.provinceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "province_id", r.provinceId, "form", "")
	}
	if r.cityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city_id", r.cityId, "form", "")
	}
	if r.contract != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contract", r.contract, "form", "")
	} else {
		var defaultValue string = "sale"
		r.contract = &defaultValue
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	} else {
		var defaultValue string = "residential"
		r.category = &defaultValue
	}
	if r.priceMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_min", r.priceMin, "form", "")
	}
	if r.priceMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "price_max", r.priceMax, "form", "")
	}
	if r.surfaceMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "surface_min", r.surfaceMin, "form", "")
	}
	if r.surfaceMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "surface_max", r.surfaceMax, "form", "")
	}
	if r.roomsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rooms_min", r.roomsMin, "form", "")
	}
	if r.roomsMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rooms_max", r.roomsMax, "form", "")
	}
	if r.bathroomsMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bathrooms_min", r.bathroomsMin, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "relevance"
		r.sort = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
